{{# title }}Connexion{{/ title }}

{{# invalid? }}
   <div class="flash warning">Mot de passe ou pseudo invalide.</div>
{{/ invalid? }}
{{# banned? }}
   <div class="flash warning">Vous êtes banni de ce site.</div>
{{/ banned? }}

{{# form }}
<form id="login" class="formulaire" action="{{ action }}" method="{{ method }}">
   {{# name }}
      {{> form/label }}
      {{> form/input }}
   {{/ name }}
   {{# password }}
      {{> form/label }}
      {{> form/input }}
   {{/ password }}
   {{# remember }}
      <div class="remember">
         {{> form/checkbox }}
         <span>Se souvenir de moi</span>
      </div>
   {{/ remember }}
   <div class="cleaner"></div>
   <input class="btn connexion" value="Se connecter" type="submit" />
</form>
{{/ form }}
