@import 'var.less';
@import 'mixins.less';

label {
   font-size: 15px;
   font-weight: bold;
}

.btn {
   .buttonBackground(@bouton-1, @bouton-2);
}

.button-left, .button-right {
   margin: 20px 0px;
}

.button-right {
   float: right;
}

input[type="text"], input[type="password"], textarea {
   #gradient .vertical(@formulaire-1, @formulaire-2);
   color: @gris-police;
   border: solid black 1px;
}

textarea {
   width: 540px;
   max-width: 95%;
}
