{{# name }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/input }}
   {{> form/hint }}
</div>
{{/ name }}

{{# minecraft_name }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/input }}
   {{> form/hint }}
</div>
{{/ minecraft_name }}

{{# password }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/input }}
   {{> form/hint }}
</div>
{{/ password }}

{{# password_confirmation }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/input }}
   {{> form/hint }}
</div>
{{/ password_confirmation }}

{{# email }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/input }}
   {{> form/hint }}
</div>
{{/ email }}

{{# birthdate }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/input }}
   {{> form/hint }}
</div>
{{/ birthdate }}

{{# sexe }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/select }}
   {{> form/hint }}
</div>
{{/ sexe }}

{{# rules_acceptance }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/checkbox }}
</div>
{{/ rules_acceptance }}

