{{# availability }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/textarea_counter }}
   {{> form/hint }}
</div>
{{/ availability }}

{{# microphone }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/checkbox }}
   {{> form/hint }}
</div>
{{/ microphone }}

{{# mumble }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/select }}
   {{> form/hint }}
</div>
{{/ mumble }}

{{# mumble_other }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/textarea_counter }}
   {{> form/hint }}
</div>
{{/ mumble_other }}
