<div class="form-horizontal largeur-textarea">

   {{# availability }}
      <div class="field-{{ field_id }} control-group">
         <div class="control-label compteur">{{> form/label }}</div>
         <div class="controls">
            {{> form/textarea_counter }}
            {{> form/errors }}
            {{> form/hint }}
         </div>
      </div>
   {{/ availability }}

   {{# microphone }}
      <div class="field-{{ field_id }} control-group">
         <div class="control-label">{{> form/label }}</div>
         <div class="controls">
            {{> form/switch }}
            {{> form/errors }}
            {{> form/hint }}
         </div>
      </div>
   {{/ microphone }}

   {{# mumble }}
   <div class="field-{{ field_id }} control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls">
         {{> form/picker }}
         {{> form/errors }}
         {{> form/hint }}
      </div>
   </div>
   {{/ mumble }}

   {{# mumble_other }}
      <div class="field-{{ field_id }} control-group">
         <div class="control-label compteur">{{> form/label }}</div>
         <div class="controls">
            {{> form/textarea_counter }}
            {{> form/errors }}
            {{> form/hint }}
         </div>
      </div>
   {{/ mumble_other }}

</div>

{{> public/postulation/_next }}
