{{# ethilvan_discovered }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/textarea }}
   {{> form/hint }}
</div>
{{/ ethilvan_discovered }}

{{# ethilvan_reason }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/textarea }}
   {{> form/hint }}
</div>
{{/ ethilvan_reason }}
