<h3> Postuler sur Ethil Van </h3>
<p>
   Avant de postuler sur Ethil Van, voici quelques explications
   pour mieux comprendre le fonctionnement du formulaire de
   postulation et quelques conseils pour réussir votre candidature.
</p>

<h4> Remplir le formulaire : </h4>
<p>Le formulaire de postulation est composé de plusieurs champs à
   remplir, certains sont facultatifs mais il est préférable de
   répondre à toutes les questions. Les champs obligatoires seront
   signalés par une astérisque. Lorsque vous remplirez le formulaire
   vous constaterez que certaines questions, une fois répondues, vous
   donneront accès à d'autres champs pour développer le point abordé
   dans cette partie du formulaire. Certains champs nécessiteront
   qu'une condition soit remplie pour pouvoir être validés, par
   exemple un nombre de caractères ou un choix dans une liste.
</p>

<h4>Screenshots :</h4>
<p>
   Trois screenshots vous seront demandés pour compléter votre
   candidature. Il s'agit d'un nombre minimum mais vous avez la
   possibilité d'en ajouter d'autres en cliquant sur le bouton "+"
   se situant après les trois premiers. Ces screenshots doivent nous
   montrer des constructions  que vous avez réalisées sur Minecraft
   et devront être convenablement commentés. Il peut s'agir de
   quasiment n'importe quelle construction, allant d'une petite maison
   à un grand château, en passant par un monument ou encore une caverne
   aménagée en village. Les pixel-arts en revanche n'apporteront que
   peu d'intérêt puisqu'ils ne font pas partie des constructions
   autorisées sur le serveur, et les maisons en terre sont fortement
   déconseillées.</p>

<p>
   N'hésitez pas à nous fournir un maximum d'information concernant vos
   constructions dans les commentaires des screenshots. Il peut être
   intéressant de nous dire si vous les avez réalisées seul(e) ou à
   plusieurs, avec des ressources récoltées ou en mode créatif, etc.
   Une petite description de la construction elle-même et de son contexte
   sera également un plus.
</p>

<p>
   Nous vous demandons d'ajouter des screenshots à votre candidature pour
   deux raisons. Premièrement car cela nous permet de nous faire une idée
   du type de constructions que vous pourriez réaliser sur le serveur.
   Mais aussi et surtout car cela nous assure que vous serez capables
   d'illustrer vos propos, vos idées ou vos projets sur le site une fois
   votre candidature acceptée. En effet, la majorité des projets seront
   gérés et présentés sur le site et il est donc important de pouvoir y
   ajouter des images ou des schémas et de pouvoir les commenter
   convenablement.
</p>

<h4> Problèmes ou difficultés lors du remplissage du formulaire : </h4>
<p>
   Si vous rencontrez des difficultés pour remplir un champ du formulaire,
   pensez à jeter un coup d'œil à l'aide figurant à droite de celui-ci. En
   cas de problème lors de la candidature ne pouvant être résolu grâce à
   l'aide, vous pouvez nous contacter via notre <a href="/contact">formulaire
   de contact</a> ou en passant directement sur notre serveur
   <a href="/aide/teamspeak">TeamSpeak</a>.
</p>

<h4> Envoi de la candidature : </h4>
<p>
   La candidature ne pourra être envoyée que si elle est considérée comme
   complète, c'est-à-dire que l'intégralité des champs obligatoires sont
   remplis et conformes aux conditions requises. Une fois votre candidature
   envoyée, elle ne pourra plus être modifiée donc assurez-vous d'avoir
   répondu correctement à toutes les questions et de l'exactitude des
   informations données.
</p>

<h4> Processus de validation : </h4>
<p>
   Lorsqu'au moins une personne aura validé votre postulation, vous serez
   automatiquement ajouté à la whitelist vous permettant ainsi de vous
   connecter immédiatement au serveur et de commencer à faire un tour. Vous
   en serez notifiés par mail avec les différentes informations de connexion
   dont vous pourriez avoir besoin. Vous serez provisoirement dans le groupe
   des Visiteurs et ne pourrez pas construire, détruire ou attaquer de monstres
   et de joueurs. Ne vous inquiétez pas, ils ne pourront pas non plus vous
   attaquer durant cette période.
</p>
<p>
   Une fois que l'intégralité des modérateurs/administrateurs aura validé votre
   candidature, vous recevrez une notification par mail et serez automatiquement
   ajouté au groupe des Aventuriers, vous donnant accès à l'intégralité du site
   et vous permettant de profiter pleinement du serveur.
</p>
<p>
   Par contre, si un ou plusieurs membres de l'équipe d'administration décident
   de ne pas valider votre candidature, elle sera automatiquement refusée et vous
   en serez également informé par mail.
</p>

<h4> Points importants : </h4>
<p>
   Une des choses les plus importantes dans les jeux en communauté est la
   communication, et c'est principalement là-dessus que sera jugée votre candidature,
   prenez donc bien le temps de développer chaque point et de vous relire car une
   postulation avec un minimum de contenu et qui n'est pas difficile à déchiffrer
   sera un plus indéniable.
</p>
<p>
   Si vous avez déjà postulé et que votre candidature a été refusée, il est
   inutile de postuler à nouveau, c'est une postulation par personne. Si vous
   avez déjà envoyé votre candidature mais qu'elle n'a pas encore été traitée,
   attendez simplement que l'équipe d'administration s'en occupe, envoyer des
   messages ne fera pas accélérer les choses, et les membres de l'équipe
   s'occuperont des candidatures en fonction de leurs disponibilités. Cependant
   si vous n'avez reçu aucune approbation ou refus après une semaine, c'est
   sûrement parce-qu'il y a un problème avec l'adresse e-mail que vous avez
   spécifiée dans le formulaire, vous pouvez donc nous contacter via le formulaire
   de contact pour vous assurer de sa validité.
</p>

{{> public/postulation/_next }}
