{{# minecraft_since }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/textarea_counter }}
   {{> form/hint }}
</div>
{{/ minecraft_since }}

{{# multi_minecraft }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/checkbox }}
   {{> form/hint }}
</div>
{{/ multi_minecraft }}

{{# old_server }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/textarea_counter }}
   {{> form/hint }}
</div>
{{/ old_server }}

{{# old_server_reason }}
<div class="field-{{ field_id }}">
   {{> form/errors }}
   {{> form/label }}
   {{> form/textarea_counter }}
   {{> form/hint }}
</div>
{{/ old_server_reason }}

