<div class="form-horizontal largeur-textarea">

   {{# minecraft_since }}
      <div class="field-{{ field_id }} control-group">
         <div class="control-label compteur">{{> form/label }}</div>
         <div class="controls">
            {{> form/textarea_counter }}
            {{> form/errors }}
            {{> form/hint }}
         </div>
      </div>
   {{/ minecraft_since }}

   {{# multi_minecraft }}
      <div class="field-{{ field_id }} control-group">
         <div class="control-label">{{> form/label }}</div>
         <div class="controls">
            {{> form/switch_yn }}
            {{> form/errors }}
            {{> form/hint }}
         </div>
      </div>
   {{/ multi_minecraft }}

   {{# old_server }}
      <div class="field-{{ field_id }} control-group">
         <div class="control-label compteur">{{> form/label }}</div>
         <div class="controls">
            {{> form/textarea_counter }}
            {{> form/errors }}
            {{> form/hint }}
         </div>
      </div>
   {{/ old_server }}

   {{# old_server_reason }}
      <div class="field-{{ field_id }} control-group">
         <div class="control-label compteur">{{> form/label }}</div>
         <div class="controls">
            {{> form/textarea_counter }}
            {{> form/errors }}
            {{> form/hint }}
         </div>
      </div>
   {{/ old_server_reason }}

</div>

{{> public/postulation/_next }}
