{{# title }}Formulaire de Postulation{{/ title }}

<ul class="nav nav-pills nav-postulation-form">
   <li class="active">
      <a href="#fields-account" data-toggle="pill">Compte</a>
   </li>
   <li><a href="#fields-ethilvan" data-toggle="pill">Ethil Van</a></li>
   <li><a href="#fields-minecraft" data-toggle="pill">Minecraft</a></li>
   <li><a href="#fields-screens" data-toggle="pill">Screenshots</a></li>
   <li><a href="#fields-availability" data-toggle="pill">Disponibilités</a></li>
   <li><a href="#fields-free" data-toggle="pill">Champ Libre</a></li>
</ul>

{{# form }}
<form id="postulation-form" class="tab-content" method="{{ method }}" action="{{ action }}">

   <fieldset id="fields-account" class="tab-pane active">

      {{# name }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/label }}
         {{> form/input }}
         {{> form/hint }}
      </div>
      {{/ name }}

      {{# password }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/label }}
         {{> form/input }}
         {{> form/hint }}
      </div>
      {{/ password }}

      {{# password_confirmation }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/label }}
         {{> form/input }}
         {{> form/hint }}
      </div>
      {{/ password_confirmation }}

      {{# email }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/label }}
         {{> form/input }}
         {{> form/hint }}
      </div>
      {{/ email }}

      {{# sexe }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/label }}
         {{> form/select }}
         {{> form/hint }}
      </div>
      {{/ sexe }}

   </fieldset>

   <fieldset id="fields-ethilvan" class="tab-pane">

      {{# ethilvan_discovered }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/label }}
         {{> form/textarea }}
         {{> form/hint }}
      </div>
      {{/ ethilvan_discovered }}

      {{# ethilvan_reason }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/label }}
         {{> form/textarea }}
         {{> form/hint }}
      </div>
      {{/ ethilvan_reason }}

   </fieldset>

   <fieldset id="fields-minecraft" class="tab-pane">

      {{# minecraft_since }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/label }}
         {{> form/textarea }}
         {{> form/hint }}
      </div>
      {{/ minecraft_since }}

      {{# multi_minecraft }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/label }}
         {{> form/checkbox }}
         {{> form/hint }}
      </div>
      {{/ multi_minecraft }}

      {{# old_server }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/label }}
         {{> form/textarea }}
         {{> form/hint }}
      </div>
      {{/ old_server }}

      {{# old_server_reason }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/label }}
         {{> form/textarea }}
         {{> form/hint }}
      </div>
      {{/ old_server_reason }}

   </fieldset>

   <fieldset id="fields-screens" class="tab-pane">

   </fieldset>

   <fieldset id="fields-availability" class="tab-pane">

      {{# availability }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/label }}
         {{> form/textarea }}
         {{> form/hint }}
      </div>
      {{/ availability }}

      {{# microphone }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/label }}
         {{> form/checkbox }}
         {{> form/hint }}
      </div>
      {{/ microphone }}

      {{# mumble }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/label }}
         {{> form/select }}
         {{> form/hint }}
      </div>
      {{/ mumble }}

      {{# mumble_other }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/label }}
         {{> form/textarea }}
         {{> form/hint }}
      </div>
      {{/ mumble_other }}

   </fieldset>

   <fieldset id="fields-free" class="tab-pane">

      {{# free_text }}
      <div class="field-{{ id }}">
         {{> form/errors }}
         {{> form/textarea }}
         {{> form/hint }}
      </div>
   {{/ free_text }}

   </fieldset>

   <div><input type="submit" class="btn pull-right" value="Envoyer" /></div>
</form>
{{/ form }}
