{{#title}}Postulation Validée{{/title}}

<p>
    Votre postulation a été enregistrée, vous devez maintenant
    attendre que les membres de l'equipe d'administration se soient
    consultés pour décider de son sort. Vous en serez averti par email.
</p>
<p>
    En attendant vous pouvez vous connecter à notre serveur TeamSpeak
    pour nous en dire un peu plus sur vous et peut-être commencer à
    faire connaissance avec les membres connectés ou demander à faire
    une petite visite du serveur.
</p>
<p>
    Pour en savoir plus sur TeamSpeak et connaitre les informations
    de connexion à notre serveur vocal, rendez-vous la
    <a href="/aide/teamspeak">page d'aide correspondante</a>.
</p>

<p>Merci d'avoir postulé sur Ethil Van.</p>
