<h3>Ethil Van Mix</h3>

<p>
   Ethil Van dispose d'un pack de textures personnalisé créé à partir
   d'éléments de différents packs et d'éléments réalisés par la
   communauté Ethil-Vannienne.
</p>


<h5>Liens de téléchargement</h5>
<p>Actuellement seule la version 64x64 est disponible mais une version 16x16 arrivera peut-être prochainement.</p>
<p>
   <ul>
      <li><a href="http://updates.ethilvan.fr/texturepack/EthilVanMix-64.zip">Ethil Van Mix - 64</a>
   </ul>
</p>
