<input id="{{ field_id }}" name="{{ field_name }}" type="checkbox"
      data-checkbox-input {{{ value }}} {{{ validations }}}/>
<input type="button" class="custom-checkbox" data-checkbox-custom></span>
