<div class="mdeditor">
   <div class="mde-buttons mde-control">
      <div class="btn-group">
         <a class="btn mde-title" href="#mde-title" tabindex="-1">Titre</a>
         <a class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
            <li><a class="mde-title mde-title2" href="#mde-title"
                  data-mde-title="2" tabindex="-1">Titre 2</a></li>
            <li><a class="mde-title mde-title3" href="#mde-title"
                  data-mde-title="3" tabindex="-1">Titre 3</a></li>
            <li><a class="mde-title mde-title4" href="#mde-title"
                  data-mde-title="4" tabindex="-1">Titre 4</a></li>
            <li><a class="mde-title mde-title5" href="#mde-title"
                  data-mde-title="5" tabindex="-1">Titre 5</a></li>
            <li><a class="mde-title mde-title6" href="#mde-title"
                  data-mde-title="6" tabindex="-1">Titre 6</a></li>
         </ul>
      </div>
      <div class="btn-group">
         <!--<a class="btn mde-title" href="#mde-title" tabindex="-1">Titre</a>-->
         <a class="btn mde-quote" href="#mde-quote" tabindex="-1">Citer</a>
         <a class="btn mde-list" href="#mde-list" tabindex="-1">Liste</a>
      </div>
      <div class="btn-group">
         <a class="btn mde-link" href="#mde-link" tabindex="-1">Lien</a>
         <a class="btn mde-image" href="#mde-image" tabindex="-1">M&eacute;dia</a>
      </div>
      <div class="btn-group">
         <a class="btn mde-bold" href="#mde-bold" tabindex="-1">G</a>
         <a class="btn mde-italic" href="#mde-italic" tabindex="-1">I</a>
         <a class="btn mde-strikethrough" href="#mde-strikethrough" tabindex="-1">B</a>
      </div>
      <div class="btn-group">
         <a class="btn mde-dopreview" href="#mde-dopreview" tabindex="-1">
            Pr&eacute;visualiser
            <span class="mde-spinner"></span>
         </a>
      </div>
      <div class="clearfix"></div>
   </div>

   <textarea id="{{ field_id }}" class="mde-input" name="{{ field_name }}"
         {{{ validations }}}>{{ value }}</textarea>

   <div class="mde-preview mde-control"></div>

</div>
