<div class="multichoice">
   <div class="multichoice-fields">
   {{# among }}
      {{> form/formidable/field/checkbox }}
   {{/ among }}
   </div>

   <div class="btn-group multichoice-toggles">
   {{# among }}
      {{> form/formidable/custom/toggle }}
   {{/ among }}
   </div>
</div>
