<select id="{{ field_id }}" class="bootstrap-select" name="{{ field_name }}" {{{ validations }}}>
   {{# options }}
      <option value="{{ name }}"{{{ selected }}} >{{ value }}</option>
   {{/ options}}
</select>
