<input id="{{ field_id }}" name="{{ field_name }}" type="text"
      data-checkbox-input="switch" value="{{ value }}" {{{ validations }}}/>
<div class="btn-group switch" data-checkbox-custom>
   <button data-checkbox-switch="checked" type="button" class="btn{{ checked_switch_value }}">Oui</button>
   <button data-checkbox-switch type="button" class="btn{{ switch_value }}">Non</button>
</div>
