<input id="{{ field_id }}" name="{{ field_name }}" type="checkbox"
      data-switch-input {{{ value }}} {{{ validations }}}/>
<div class="btn-group" data-toggle="buttons-radio" data-switch-custom>
   <button type="button" class="btn">Oui</button>
   <button type="button" class="btn">Non</button>
</div>
