<div class="text-counter text-counter-idle" data-text-counter-wrapper>
   <span data-text-counter-target>-</span>
</div>
<textarea id="{{ field_id }}" data-text-counter name="{{ field_name }}"
      {{{ validations }}}>{{ value }}</textarea>
