<a href="{{ actor_url }}">
   <div class="activity-avatar" style="background-image: url('{{ actor_avatar }}');"></div>
   <!--<img class="activity-avatar activity-actor-avatar" src="{{ actor_avatar }}" />-->
</a>
