{{# page_title }}A Propos{{/ page_title }}

<h3>Equipe :</h3>

<ul>
   {{# team }}
   <li>
      <p>{{ role_fr }} : {{ name }}</p>
      {{# site }}
      <p>Site : <a href="{{ site }}">{{ site }}</a></p>
      {{/ site }}
      {{# twitter }}
      <p>Twitter : <a href="http://twitter.com/{{ twitter }}">{{ twitter }}</a></p>
      {{/ twitter }}
      {{# location }}
      <p>Localisation : {{ location }}</p>
      {{/ location }}
   </li>
   {{/ team }}
</ul>

<h3>In the wild :</h3>
<ul>
   <li><a href="http://twitter.com/EthilVan">Twitter</a></li>
   <li><a href="http://twitter.com/EthilVanDev">Twitter Développement</a></li>
   <li><a href="https://github.com/EthilVan">Github Plugins</a></li>
   <li><a href="https://github.com/EthilVanMods">Github Mods</a></li>
</ul>

<h3>Caractèristiques Techniques :</h3>

<h4>Composants :</h4>
<ul>
{{# components }}
   <li><a href="{{ url }}">{{ name }}</a></li>
{{/ components }}
</ul>

<h4>Déploiement :</h4>
<ul>
{{# stack }}
   <li><a href="{{ url }}">{{ name }}</a></li>
{{/ stack }}
</ul>
