{{> activity/date }}
{{> activity/avatar }}
{{^ actor_is_viewer? }}
   {{> activity/actor }} a édité la news {{> activity/subject }}
{{/ actor_is_viewer? }}
{{# actor_is_viewer? }}
   Vous avez édité la news {{> activity/subject }}
{{/ actor_is_viewer? }}
