.bloc-titre {
   margin-bottom: 15px;

   .titre {
      font-size: 28px;
      font-weight: bold;
      margin-left: 2px;
   }

   .edit, .suppr {
      width: 24px;
      float: right;
   }

   .edit {
      background-image: url(images/membre/discussion/edit.png);
      height: 21px;

      &:hover {
         background-image: url(images/membre/discussion/edit-2.png);
      }

   }

   .suppr {
      background-image: url(images/membre/discussion/suppr.png);
      height: 18px;
      margin-top: 3px;
      margin-left: 10px;

      &:hover {
         background-image: url(images/membre/discussion/suppr-2.png);
      }

   }

   .ligne {
      border-bottom: 2px solid;
      margin-top: 9px;
   }

   .date {
      text-align: right;
      margin-right: 2px;
   }

}

.pages {
   margin: 3px 18px;
   margin-top: 10px;

}

.repondre {
   margin-right: 15px;
}
