#subcontents {

   .nom-discussion {
      margin-bottom: 10px;

      input {
         margin-left: 5px;
      }
   }

   .mdeditor.mdeditor-message {

      .mde-buttons.mde-control {
         margin-left: 10px;
      }

      .btn.mde-dopreview.previsualisation {
         height: 20px;
      }

      textarea {
         margin: 0px 5px;
         width: 98%;
         max-width: 98%;
      }

      .message {
         margin-top: 20px;
         margin-bottom: 20px;
      }

   }

   .btn.pull-right.valider {
      margin-right: 10px;
   }

}
