{{# previous? }}
   <a href="{{ previous }}">◄</a>
{{/ previous? }}
{{# first? }}
   <a href="{{ first }}">1</a>
   ...
{{/ first? }}
{{# pages }}
   {{# selected }}
   <span>{{ i }}</span>
   {{/ selected }}
   {{^ selected }}
   <a href="{{ url }}">{{ i }}</a>
   {{/ selected }}
{{/ pages }}
{{# last? }}
   ...
   <a href="{{ last }}">{{ total }}</a>
{{/ last? }}
{{# next? }}
   <a href="{{ next }}">►</a>
{{/ next? }}
