<div class="activity-icon message-create"></div>
<div class="info">
   {{> activity/date }}
   {{> activity/avatar }}
   {{^ actor_is_viewer? }}
      {{^ subject_mentionned_is_viewer? }}
         {{^ subject_mentionned_is_actor? }}
            {{> activity/actor }}
            a mentionné {{> activity/message_mention/mentionned }}
            dans {{> activity/message_mention/subject }}
         {{/ subject_mentionned_is_actor? }}
         {{# subject_mentionned_is_actor? }}
            {{> activity/actor }} est totalement
            <a href="{{ subject_message_url }}">égocentrique</a>
         {{/ subject_mentionned_is_actor? }}
      {{/ subject_mentionned_is_viewer? }}
      {{# subject_mentionned_is_viewer? }}
         {{> activity/actor }}
         vous a mentionné dans {{> activity/message_mention/subject }}
      {{/ subject_mentionned_is_viewer? }}
   {{/ actor_is_viewer? }}
   {{# actor_is_viewer? }}
      {{^ subject_mentionned_is_viewer? }}
         Vous avez mentionné {{> activity/message_mention/mentionned }}
         dans {{> activity/message_mention/subject }}
      {{/ subject_mentionned_is_viewer? }}
      {{# subject_mentionned_is_viewer? }}
         Votre  <a href="{{ subject_message_url }}">égocentricité</a> vous perdra !
      {{/ subject_mentionned_is_viewer? }}
   {{/ actor_is_viewer? }}
</div>
<div class="cleaner"></div>
