<div class="submenu submenu-member">
   <a class="accueil" href="/membre"></a>
   <a class="discussions" href="/membre/discussion"></a>
   <a class="projets"></a>
   <a class="evenements"></a>
   <a class="profil" href="{{profil_url}}"></a>
   <a class="membres" href="/membre/liste"></a>
   <a class="don" href="/membre/don"></a>
</div>
