<div class="mdeditor mdeditor-message">

   {{> form/mdeditor/controls }}
   {{> form/mdeditor/textarea }}

   <div class="message message-odd-even">

      {{> membre/message/_cadre }}

      <div class="message-contenu">
         {{> form/mdeditor/preview }}
         <div class="bloc-signature">
            <div class="dates creation">Posté le JJ/MM/AAAA à hh:mm</div>
            <div class="dates edition">Dernière édition le JJ/MM/AAAA à hh:mm</div>
            <div class="cleaner-side"></div>
            <div class="ligne-signature"></div>
            <div class="signature-membre">
               <div class="signature"> {{{ author_signature }}} </div>
               <div class="cleaner"></div>
            </div>
         </div>
      </div>

   </div>

</div>
