{{# title }}Réponse{{/ title }}

<div class="message-form message-odd-even">

   {{# form }}
      <form {{{ attributes }}}>

         {{# contents }}
            {{> form/errors }}
            {{> membre/message/_message_editor }}
         {{/ contents }}

         <input class="btn pull-right valider" {{# inline? }}data-inline-target=".message-form"{{/ inline? }}
               type="submit" value="Répondre" />

      </form>
   {{/ form }}
</div>
