{{# title }}Réponse{{/ title }}

<div class="message-form">
{{> membre/message/_cadre }}

{{# form }}
<form {{{ attributes }}}>

   {{# contents }}
      {{> form/errors }}
      {{> form/mdeditor }}
   {{/ contents }}

   <input class="btn" {{# inline? }}data-inline-target=".message-form"{{/ inline? }}
         type="submit" value="Répondre" />

</form>
{{/ form }}
</div>
