{{# title }}Réponse{{/ title }}

<div>
{{> membre/message/_cadre }}

{{# form }}
<form {{{ attributes }}}>

   {{# contents }}
      {{> form/errors }}
      {{> form/mdeditor }}
   {{/ contents }}

   <input class="btn" type="submit" value="Répondre" />

</form>
{{/ form }}
</div>
