{{# title }}Edition du Message{{/ title }}

<div class="message-form">

   {{# form }}
      <form {{{ attributes }}}>

         {{# contents }}
            {{> form/errors }}
            {{> form/mdeditor }}
         {{/ contents }}

         <input class="btn pull-right" {{# inline? }}data-inline-target=".message-form"{{/ inline? }}
               type="submit" value="Enregistrer" />

         <div class="cleaner"></div>

      </form>
   {{/ form }}
</div>
