<div id="{{ anchor }}" class="news-comment">
   {{# member? }}
      <img src="{{ member_avatar }}"/>
      {{ member_name }}
   {{/ member? }}

   {{^ member? }}
      {{ author_name }} {{# modo? }}({{ author_email }}){{/ modo? }}
   {{/ member? }}

   <div>{{{ content }}}</div>

   {{# editable? }}
   <a href="{{ edit_url }}">Editer</a>
   <a href="{{ delete_url }}" data-remove-target="#{{ anchor }}">Supprimer</a>
   {{/ editable? }}
</div>
