<div class="submenu submenu-member{{ submenu_member_visibility }}">
   <a class="accueil" href="/membre"></a>
   <a class="discussions" href="/membre/discussion"></a>
   <a class="projets" href="/membre/projets"></a>
   <a class="evenements" href="/membre/evenements"></a>
   <a class="profil" href="/membre/profil"></a>
   <a class="membres" href="/membre/liste"></a>
   <a class="don" href="/membre/dons"></a>
</div>
