<div class="submenu submenu-server{{ submenu_server_visibility }}">
   <a class="presentation" href="/presentation/generale"></a>
   <a class="apercu" href="/apercu/presentation"></a>
   <a class="news" href="/news"></a>
   <a class="reglement" href="/reglement/general"></a>
   <a class="postulation" href="/postulation"></a>
   <a class="aide" href="/aide"></a>
   <a class="contact" href="/contact"></a>
</div>
