<!DOCTYPE html>

<html>

   <head>
      <title>{{ meta_page_title }}</title>
      <meta charset="utf-8" />
      {{# page_description? }}
      <meta name="description" content="{{ get_page_description }}" />
      {{/ page_description? }}
      <link rel="icon" type="image/png" href="{{ static }}favicon.png" />
      <link rel="author" href="humans.txt" />
      <link href="http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic"
            rel="stylesheet" type="text/css" />
      <link href="{{ stylesheet }}" rel="stylesheet" type="text/css" />
   </head>

   <body data-logged-in="{{ data_logged_in }}">

      <div id="page">
         <img class="motif_bg left" src="{{ static }}images/layout/motif-g.png" />
         <img class="motif_bg right" src="{{ static }}images/layout/motif-d.png" />
         <div id="page-scroller">
            <a id="page-scroller-top" style="display: none" href="#top">
               <i class="icon-chevron-up icon-white"></i>
            </a>
            <a id="page-scroller-bottom" style="display: none" href="#bottom">
               <i class="icon-chevron-down icon-white"></i>
            </a>
         </div>
         <header>
            <div id="banner">
               <a href="/">
                  <img src="{{ static }}images/layout/titre.png" />
               </a>
            </div>
            <div id="menu">
               <a href="{{ button_server_url }}">
                  <div id="button1" class="buttons"></div>
               </a>
               <a href="{{ button_member_url }}">
                  <div id="button2" class="buttons"></div>
               </a>
               <div class="submenu_bg"></div>
               {{> layouts/submenu_server }}
               {{# logged_in? }}
                  {{> layouts/submenu_member }}
               {{/ logged_in? }}
            </div>
         </header>

         <div id="contents">
            {{# page_title? }}
            {{# get_page_title }}
               {{.}}
            {{/ get_page_title }}
            {{/ page_title? }}
            {{# page_tabs? }}
            <ul id="nav" class="page-tabs">
               {{# page_tabs }}
               <li class="tab">
                  <a href="{{ tab_name }}" data-target="#{{ tab_name }}"
                        data-toggle="tab" data-title="{{ meta_tab_title }}">
                     <div class="onglet">{{ get_tab_title }}</div>
                  </a>
               </li>
               {{/ page_tabs }}
            </ul>
            {{/ page_tabs? }}
            <div class="cleaner"></div>
            <div id="subcontents">
               {{{ yield }}}
               <div class="cleaner"></div>
            </div>
         </div>
         <div id="signature">
            <a href="/apropos">-- Ethil Van --</a>
         </div>
      </div>

      <script src="{{ javascript }}"></script>
   </body>

</html>
