<div class="submenu submenu-server{{ submenu_server_visibility }}">
   <a class="presentation" href="/presentation"></a>
   <a class="apercu" href="/apercu"></a>
   <a class="news" href="/news"></a>
   <a class="reglement" href="/reglement"></a>
   <a class="postulation" href="/postulation"></a>
   <a class="aide" href="/aide"></a>
   <a class="contact" href="/contact"></a>
</div>
