<li class="activite annonce" id="{{ anchor }}">
   <div class="info-annonce">
      Par <a href="{{ author_url }}">{{ author }}</a> le {{ date }}
      <a href="{{ delete_url }}" data-remove-target="#{{ anchor }}">
         <div class="suppr"></div>
      </a>
      <a href="{{ edit_url }}" data-inline-target="#{{ anchor }}">
         <div class="edit"></div>
      </a>
   </div>
   <div>{{{ content }}}</div>
</li>
