<div id="{{ anchor }}">
   Par <a href="{{ author_url }}">{{ author }}</a> le {{ date }} :
   <div>
      <a href="{{ edit_url }}" data-inline-target="#{{ anchor }}">Editer</a>
      <a href="{{ delete_url }}" data-remove-target="#{{ anchor }}">Supprimer</a>
   </div>
   <div>{{{ content }}}</div>
</div>
