{{# form }}
<form id="annonce-form" {{{ attributes }}}>

   {{# content }}
      {{> gestion/announce_editor }}
      {{> form/errors }}
   {{/ content }}

   <br>

   <input class="btn pull-right" type="submit" value="Poster"
         {{# inline? }}data-inline-target="#annonce-form"{{/ inline? }}/>

   <div class="cleaner"></div>
</form>
{{/ form }}
