{{# page_title }}Annonces{{/ page_title }}

{{> gestion/navbar }}

<ul class="flux">
   {{> gestion/announce/_create_button }}
   {{# announces }}
      {{> gestion/announce/_entry }}
   {{/ announces }}
</ul>
