<div class="postulation">

   {{# birthdate? }}
      <h4>Age - Date de naissance :</h4>
      <p>{{ age }} ans - {{ birthdate }}</p>
   {{/ birthdate? }}

   {{# sexe? }}
       <h4>Sexe :</h4>
       <p>{{ sexe }}</p>
   {{/ sexe? }}

   <h4>Joue à Minecraft depuis :</h4>
   <p>{{ minecraft_since }}

   <h4>A déjà joué en multi à minecraft :</h4>
   <p>{{ multi_minecraft }}</p>

   {{# multi_minecraft? }}
       <h4>Ancien Serveur :</h4>
       <p>{{ old_server }}</h4>
       <h5>Raison du départ :</h5>
       <p>{{ old_server_reason }}</p>
   {{/ multi_minecraft? }}

   <h4>Découverte d'Ethil Van :</h4>
   <p>{{ ethilvan_discovered }}</p>

   <h4>Pourquoi Ethil Van :</h4>
   <p>{{ ethilvan_reason }}</p>

   <h4>Screenshots :</h4>
   {{# screens }}
      <div class="screenshot">
         <a href="{{url}}" target="_blank">
           <img src="{{url}}"/>
         </a>
         <div class="description">
            <p>{{ description }}</p>
         </div>
      </div>
   {{/ screens }}

   <h4>Disponibilités :</h4>
   <p>{{ availability }}</p>

   <h4>Dispose d'un micro :</h4>
   <p>{{ microphone }}</p>

   {{# microphone? }}
       <h4>Regularité sur TeamSpeak :</h4>
       <p>{{ mumble }}</p>
   {{/ microphone? }}

   <h4>Champ Libre :</h4>
   <p>{{ free_text }}</p>

   <br>

   {{# pending? }}
   <p>
      <strong>{{ agreements_count }}</strong>
       approbation{{# agreements_plural? }}s{{/ agreements_plural? }}
       nécessaire{{# agreements_plural? }}s{{/ agreements_plural? }}
       /
      <strong>{{ votes_needed }}</strong>
   </p>
   {{/ pending? }}

   <h4>Votes :</h4>
   <ul>
   {{# votes }}
      <li class="vote {{ agreement_class }}">
         <h5 class="pseudo">{{ account }}</h5>
         <div class="icone"></div>
         {{# message? }}
            <p class="avis">{{ message }}</p>
         {{/ message? }}
      </li>
   {{/ votes }}
   </ul>

   {{# can_vote? }}
      <div id="vote">

         <a href="#agreement" class="postulation-vote-button btn">Accepter</a>
         <a href="#refusal"   class="postulation-vote-button btn">Refuser</a>

         {{# vote_form }}
         <form id="form-postulation-vote" {{{ attributes }}} style="display: none;">

            <div style="display: none;">
            {{# agreement }}
               {{> form/checkbox }}
            {{/ agreement }}
            </div>

            {{# message }}
               {{> form/label }}
               {{> form/errors }}
               {{> form/textarea }}
            {{/ message }}

            <div class="clearfix"></div>

            <input class="btn" type="submit" value="Envoyer" />
         </form>
         {{/ vote_form }}

      </div>
   {{/ can_vote? }}

</div>
