<div class="mdeditor">

   {{> form/label }}
   {{> form/mdeditor/controls }}
   {{> form/errors }}
   {{> form/mdeditor/textarea }}

   <div class="newses">
      <div class="news">
         {{> public/news/_news_preview }}
      </div>
   </div>
</div>
