{{# news }}
<div class="newses sans-titre">
   <div class="news seule">
      {{# redacteur? }}
         <a class="need-confirmation" href="{{ delete_url }}">
            <div class="suppr"></div>
         </a>
         <a href="{{ edit_url }}">
            <div class="edit"></div>
         </a>
      {{/ redacteur? }}

      <div class="titre">{{ title }}</div>

      {{# categories? }}
         <ul class="news-categories">
         {{# categories }}
            <li>{{.}}</li>
         {{/ categories }}
         </ul>
         <div class="cleaner"></div>
      {{/ categories? }}

      <div class="banner"><img src="{{ banner_url }}" /></div>
      <div class="contenu">{{{ contents }}}</div>

      {{^ updated? }}
         <div class="creation">- Le {{ created }} par {{ author }} -</div>
      {{/ updated? }}
      {{# updated? }}
         <div class="creation">- Par {{ author }} - Mise à jour le {{ updated }} - </div>
      {{/ updated? }}
   </div>
   {{> public/news/comment/_create_button }}
   {{# comments? }}
   <div class="comments">
      {{# comments }}{{> public/news/comment/_show }}{{/ comments }}
   </div>
   {{/ comments? }}
</div>
{{/ news }}
