{{> activity/date }}
{{> activity/avatar }}
{{^ actor_is_viewer? }}
   {{> activity/actor }} a répondu à la discussion {{> activity/message/subject }}
{{/ actor_is_viewer? }}
{{# actor_is_viewer? }}
   Vous avez répondu à la discussion {{> activity/message/subject }}
{{/ actor_is_viewer? }}
