{{^ actor_is_author? }}
   {{# actor_is_viewer? }}
      Vous avez édité le message de {{ author }} dans {{> activity/subject }}
   {{/ actor_is_viewer? }}
{{/ actor_is_author? }}
{{# actor_is_author? }}
   {{^ actor_is_viewer? }}
      {{> activity/actor }} a édité son message dans {{> activity/subject }}
   {{/ actor_is_viewer? }}
   {{# actor_is_viewer? }}
      Vous avez édité votre message dans {{> activity/subject }}
   {{/ actor_is_viewer? }}
{{/ actor_is_author? }}
