{{> activity/date }}
{{^ subject_is_viewer? }}
   {{> activity/subject }} a postulé sur Ethil Van
{{/ subject_is_viewer? }}
{{# subject_is_viewer? }}
   Vous avez postulé sur Ethil Van
{{/ subject_is_viewer? }}
