/* TEAM */

{{# team }}
{{ role }}: {{ name }}
{{# site }}
Site: {{ site }}
{{/ site }}
{{# twitter }}
Twitter: {{ twitter }}
{{/ twitter }}
{{# location }}
Location: {{ location }}
{{/ location }}

{{/ team }}

/* SITE */

Doctype:HTML5

Stack:
{{# stack }}
  - {{ name }}: {{ url }}
{{/ stack }}

Components:
{{# components }}
  - {{ name }}: {{ url }}
{{/ components }}

Softwares:
{{# softwares }}
  - {{ name }}: {{ url }}
{{/ softwares }}
