<a href="{{ subject_url }}">
   <div class="activity-avatar" style="background-image: url('{{ subject_avatar }}');"></div>
   <!--<img class="activity-avatar activity-actor-avatar" src="{{ subject_avatar }}" />-->
</a>
