<div id="submenu_server">
    <a class="presentation" href="/presentation"></a>
    <a class="news" href="/news"></a>
    <a class="reglement" href="/reglement"></a>
    <a class="images" href="/medias"></a>
    <a class="postulation" href="/postulation"></a>
    <a class="contact" href="/contact"></a>
    <a class="cartes" href="/map"></a>
</div>
