<p>
    L'univers d'Ethil Van est composé de plusieurs dimensions, chacune
    correspondant à un principe distinct et pouvant comporter plusieurs
    mondes. les événements ayant lieu dans l'une d'elle n'ont aucun
    impact sur les autres et les inventaires y sont complètement séparés.
</p>

<h3>Dimension survie :</h3>
<p>
    Il s'agit de la dimension principale du serveur, elle est composée
    actuellement d'Ethil Van, le monde principal, des Tréfonds (Nether),
    et du Néant (The End). Cette dimension est réglée en difficulté
    maximale pour accentuer l'aspect survie en nous donnant un peu plus
    de challenge, et dynamiser l'économie en augmenter nos besoins de
    ressources (armures, armes, potions, etc.).
</p>
<p>
    Pour en savoir plus sur le fonctionnement général de cette dimension
    et sur les fonctionnalités qui y sont présentes, vous pouvez consulter
    respectivement la <a href="/presentation">présentation générale</a>
    et la <a href="/presentation/fonctionnalites">présentation des
    fonctionnalités</a> (bientôt).
</p>

<h3>Dimension créative :</h3>
<p>
    Il s'agit de la dimension de détente et de construction libre du serveur,
    les joueurs sont donc en mode créatif lorsqu'ils s'y trouvent. Elle n'est
    actuellement composée que d'un seul monde : Evasion. Ce dernier est divisé
    en deux régions distinctes :
</p>
<h5>La plaine des pebsées fugitives</h5>
<p>
    La première et principale région d'Evasion est une grande étendue plane.
    Comme son nom le laisse deviner, elle accueille les tests de construction
    pour le monde principal, les expériences de Redstone, pistons et wagonnets,
    ainsi que des constructions que les Ethil-Vanniens font rapidement pour se
    détendre. Il s'agit uniquement de constructions provisoires qui sont
    détruites lorsque la place vient à manquer ou que son utilisateur n'en a
    plus besoin. Il s'agit donc d'une région en constante évolution.
</p>

<h5>Le sanctuaire des milles et une merveilles</h5>
<p>
    A l'inverse de la première région d'Evasion, celle-ci accueille des
    constructions durables dans un environnement aux reliefs variables et
    naturels. Ces constructions sont construites à des emplacements qu'il est
    possible d'acheter grâce à l'argent gagné dans la dimension principale. La
    taille et la localisation de ces emplacements sont choisies par les
    acheteurs et leur prix varie selon la taille de la zone concernée (référez-vous
    au <a href="/reglement/evasion">règlement d'Evasion</a> pour en savoir plus
    sur l'acquisition de parcelles). L'idée est de permettre à tous de pouvoir
    faire des constructions d'envergure en mode créatif tout en privilégiant la
    dimension principale avec la nécessité d'y acquérir l'argent nécessaire.
</p>

<h3>Dimension PvP :</h3>
<p>
    Cette dernière dimension est en préparation et n'est donc pas encore
    disponible. Elle sera certainement composée de plusieurs arènes proposant des
    combats individuels comme en équipe, joueurs contre joueurs ou joueurs contre
    environnement. Il est également possible qu'elle accueille une zone vous
    permettant d'exposer vos trophées et d'afficher quelques statistiques mais
    vous en saurez plus le moment venu.
</p>

<h3>Serveur évènement :</h3>
<p>
   Ethil Van dispose également d'un autre serveur afin de pouvoir accueillir des
   évènements nécessitant l'utilisation d'une carte séparée. Il peut s'agir de
   cartes PvP, de cartes aventure à faire en multi-joueurs ou de bien d'autres
   choses.
</p>
