<h3>Ethil Van - Serveur Minecraft</h3>
<p>
    Si vous voulez en savoir un peu plus sur Ethil Van afin de vous
    faire une idée et peut-être de vous décider à postuler,
    vous êtes au bon endroit.
</p>

<h4>Un serveur naissant :</h4>
<p>
    La 1ère chose à savoir est qu'Ethil Van est un serveur récent,
    ouvert peu après la sortie de la version officielle de Minecraft (1.0).
    Cela signifie que les membres actuels participent à son développement
    et à la mise en place des premiers projets qui donneront vie au serveur
    et qui marqueront sa personnalité. Cela veut également dire qu'il ne
    s'agit pas d'un serveur où tout est déjà construit et où vous avez à peine
    la place de créer votre petite maison.
</p>

<h4>Un serveur semi-RP :</h4>
<p>
    Ethil Van est un serveur où le Role-Play a de l'importance mais où il n'est
    pas omniprésent. En effet, si les principes sur lesquels repose le monde
    principal du serveur sont RP (villes à thème, économie, commerces, etc.),
    il n'est pas nécessaire d'interpréter son personnage lors des dialogues et
    l'on communique en tant que joueur même si notre personnage joue un rôle RP
    dans la vie du serveur.
</p>

<h4>Une carte diversifiée :</h4>
<p>
    La carte principale d'Ethil Van est composée de plusieurs villes à thème,
    chacune ayant une instance dirigeante distincte, des règles de constructions
    différentes et certaines spécialités (vente d'objets ou de minerais, sports,
    jeux, constructions, etc.). On ne trouvera donc pas toutes les ressources au
    même endroits, ni toutes les activités.
</p>

<h4>Une communauté soudée :</h4>
<p>
    Le but de ce serveur n'est pas d'essayer d'avoir un maximum de membres, nous
    préférons une communauté à taille humaine où tout le monde se connait et où
    règne une bonne ambiance. L'idée est de privilégier les projets réalisés en
    groupe, de jouer ensemble de manière générale, et non de faire ses constructions
    chacun de son côté pour faire le concours du meilleur architecte. Bien entendu,
    chacun peut quand même réaliser plusieurs constructions individuelles.
</p>

<h4>Un serveur polyvalent :</h4>
<p>
    Si évidemment la carte principale du serveur est, comme son nom l'indique,
    celle où se regroupent la plupart des projets et des évènements, Ethil Van
    vous propose de varier un peu les plaisirs en ayant par exemple la possibilité
    de vous rendre sur une carte de construction libre aux ressources illimitées
    pour faire vos tests ou tout simplement vous détendre, mais aussi une carte
    dédiée au PvP avec différents types de combats en équipe. Pour en savoir plus
    sur ces autres mondes, consultez la section
    <a href="/presentation/dimensions">Dimensions</a>.
</p>

<h4>Un serveur personnalisé :</h4>
<p>
    Ethil Van c'est aussi un serveur où vous trouverez un site web, des plugins,
    ainsi que des packs de textures préparés spécialement pour correspondre à
    l'esprit du serveur, et pour répondre aux attentes de sa communauté. L'équipe
    d'administration sera d'ailleurs à votre écoute si vous avez des suggestions
    les concernant.
</p>

<h4>Un serveur performant :</h4>
<p>
    Afin d'optimiser les performances et donc de vous offrir la meilleure expérience de jeu possible, Ethil Van dispose
    de deux machines, l'une étant strictement réservée au serveur Minecraft et l'autre accueillant le site et le serveur
    TeamSpeak. Leurs configurations sont les suivantes :
</p>

<h5>Serveur 1 :</h5>
<p>
<b>Services :</b> Site, TeamSpeak<br>
<b>Serveur :</b> Dell® VS11-VX8<br>
<b>Processeur :</b> Nano® U2250 1x 1.6 GHz, 64 Bits<br>
<b>Mémoire vive :</b> 2 Go DDR2<br>
<b>Disque dur :</b> 1x 160 Go SATA2<br>
<b>Bande passante :</b> 1 Gbit/sec
</p>

<h5>Serveur 2 :</h5>
<p>
<b>Services :</b> Minecraft<br>
<b>Serveur : </b> Dell® PowerEdge R210<br>
<b>Processeur : </b> Intel® Xeon® L3426 4x 1.86GHz, 64 Bits<br>
<b>Mémoire vive : </b> 16 Go DDR3 ECC<br>
<b>Disque dur : </b> 2 x 2 To SATA2 Raid 1 HARD (H200) <br>
<b>Bande passante : </b> 1 Gbit/sec
</p>
