<h3>Serveurs partenaires</h3>

<p>
    Les serveurs partenaires sont ceux avec lesquels nous organiserons différents évènements (PvP, DAC, etc.), vous aurez donc 
    l'occasion de faire connaissance avec leur communauté au travers des soirées organisées ou au fil de notre collaboration sur 
    d'éventuels autres sujets.
</p>
<p>
    Voici une brève description de ces serveurs, n'hésitez pas à aller faire un tour sur leur site pour en savoir plus (en cliquant
    sur le nom du serveur).
</p>

<a href="http://amadora.fr"><h4>Amadora</h4></a>
<p>
    Il s'agit d'un serveur RP et PvP organisé autour d'un système de factions à thème. Vous avez la possibilité d'y suivre une quête
    principale et plusieurs quêtes annexes et de partir relever les défis proposés par les différents donjons qui y sont présents.
</p>
<p>
    L'équipe d'Amadora est constituée d'un grand nombre de membres aux responsabilités et compétences distinctes assurant
    un ajout régulier de contenu et de nouveautés. Il s'agit d'un serveur de moyenne à grande envergure.
</p>

<a href="http://agartha-online.fr"><h4>Agartha</h4></a>

<p>
    Agartha Online est un jeune serveur semi-Free-build, semi-PvP et semi-RP. Plusieurs mondes sont à disposition des joueurs pour
    répondre à leurs différentes attentes. Un monde axé sur la construction où le PvP est désactivé, un monde PvP avec des
    factions à thème, un monde Créatif pour laisser libre cours aux envies des membres, le Nether pour des expéditions infernales, et
    un monde Evénement pour s'adonner à des Captures de drapeau, des Dés-à-coudre et bien d'autres choses !
</p>

<h3>Listes et classements de serveurs</h3>

<a href="http://top-minecraft.net">
    <h4>Top Minecraft</h4>
</a>
<p>
    Liste de serveurs Minecraft classés par nombre de joueurs connectés avec des statistiques sur les connexions durant les septs 
    derniers jours et la possibilité de les classer par type de serveur.
</p>

<hr>

<a href="http://topmcserv.fr" title="topmcserv.fr classement minecraft"><img src="http://topmcserv.fr/img/topmcserv.png" alt="topmcserv.fr classement minecraft" style="float: left; margin-right: 10px;"/></a>
<a href="http://topmcserv.fr">
    <h4 style="line-height: 33px;">- Top Minecraft Serveurs</h4>
</a>
<div class="cleaner"></div>
<p>
    Liste de serveurs Minecraft classés par nombre de joueurs. Un graphique représentant le nombre de joueurs connectés à chaque instant
    durant les dernières semaines est également disponible, ainsi qu'un accès aux news de chaque serveur (flux RSS et Twitter).
</p>