<h3>Serveurs partenaires</h3>

<p>
    Les serveurs partenaires sont ceux avec lesquels nous organiserons
    différents évènements (PvP, DAC, etc.), vous aurez donc l'occasion de
    faire connaissance avec leur communauté au travers des soirées
    organisées ou au fil de notre collaboration sur d'éventuels autres sujets.
</p>
<p>
    Voici une brève description de ces serveurs, n'hésitez pas à aller faire
    un tour sur leur site pour en savoir plus (en cliquant sur le nom du
    serveur).
</p>

<p>
   → Nos anciens partenaires ayant fermé ou ayant connu une baisse d'activité
   significative, nous n'en avons plus pour l'instant. Si vous êtes membre
   d'un serveur disposant d'une petite communauté et d'une ambiance conviviale
   et que vous souhaitez organiser des évènements avec les membres d'Ethil Van
   vous pouvez nous contacter via notre <a href="/contact">formulaire de
   contact</a> ou venir directement nous en parler sur TeamSpeak (informations
   de connexion sur la <a href="/aide/teamspeak">page d'aide
   correspondante</a>).
</p>



<h3>Listes et classements de serveurs</h3>

<a href="http://top-minecraft.net">
    <h4>Top Minecraft</h4>
</a>
<p>
    Liste de serveurs Minecraft classés par nombre de joueurs connectés avec
    des statistiques sur les connexions durant les septs derniers jours et la
    possibilité de les classer par type de serveur.
</p>

<hr>

<a href="http://topmcserv.fr" title="topmcserv.fr classement minecraft"><img src="http://topmcserv.fr/img/topmcserv.png" alt="topmcserv.fr classement minecraft" style="float: left; margin-right: 10px;"/></a>
<a href="http://topmcserv.fr">
    <h4 style="line-height: 33px;">- Top Minecraft Serveurs</h4>
</a>
<div class="cleaner"></div>
<p>
    Liste de serveurs Minecraft classés par nombre de joueurs. Un graphique
    représentant le nombre de joueurs connectés à chaque instantdurant les
    dernières semaines est également disponible, ainsi qu'un accès aux news de
    chaque serveur (flux RSS et Twitter).
</p>
