<div class="tab-content">
  <div id="generale" class="tab-pane tab-pane-default">
    {{> public/presentation/_generale}}
  </div>
  <div id="equipe" class="equipe tab-pane">
    {{#tab_equipe}}
      {{> public/presentation/_equipe}}
    {{/tab_equipe}}
  </div>
  <div id="dimensions" class="tab-pane">
    {{> public/presentation/_dimensions}}
  </div>
  <div id="partenaires" class="tab-pane">
    {{> public/presentation/_partenaires}}
  </div>
</div>
