<h4>Index des pages d'aide</h4>

<h5><a href="/aide_markdown">Mise en forme</a></h5>
<p>
   Pour savoir comment mettre en forme vos messages/news, insérer
   des images, des liens, etc.
</p>

<h5><a href="/aide_nouveautes">Nouveautés</a></h5>
<p>
   Pour avoir tout connaître des nouveaux blocs, objets et crafts
   ajoutés sur le serveur.
</p>

<h5><a href="/aide_screenshots">Screenshots</a></h5>
<p>
   Pour savoir ce que sont les screenshots, comment les ajouter à
   votre postulation et comment obtenir l'adresse url directe d'une
   image hébergée sur internet.
</p>

<h5><a href="/aide_teamspeak">TeamSpeak</a></h5>
<p>
   Pour savoir où trouver TeamSpeak et comment bien le configurer.
</p>

<br>

<h4>Informations de connexion</h4>

<h5>Minecraft</h5>
<p><b>Adresse :</b> play.ethilvan.fr</p>
<p>
   Une candidature est nécessaire pour pouvoir se connecter au serveur mais
   vous pouvez demander à le visiter via notre <a href="/contact">formulaire
   de contact</a> ou en passant sur notre serveur TeamSpeak.
</p>

<h5>TeamSpeak</h5>
<p><b>Adresse :</b> ts.ethilvan.fr<br>
<b>Mot de passe :</b> minecraft</p>
