<h4 style="margin-top: 0px;">Qu'est-ce qu'un screenshot ?</h4>
<p>
    Le mot screenshot signifie capture d'écran, il s'agit de l'équivalent
    d'une photo de votre écran. Un screenshot est donc une image au
    format de l'écran qui contient tout ce qui y était affiché au moment
    de la capture.
</p>

<h4>Comment prendre un screenshot sur Minecraft ?</h4>
<p>
   Pour prendre un screenshot sur Minecraft il suffit d'appuyer sur la
   touche F2, il sera alors automatiquement sauvegardé et un message vous
   le confirmera dans le chat. Si vous souhaitez prendre un screenshot
   sur lequel n'apparait pas l'interface de jeu, vous pouvez la masquer
   au préalable en appuyant sur F1, cela masquera également le message
   de confirmation de sauvegarde du screenshot.
</p>

<h4>Où trouver mon screenshot une fois que je l'ai pris ?</h4>
<p>Les screenshots que vous prenez sur Minecraft sont automatiquement
    sauvegardés à l'emplacement suivant : </p>


<h5>Sur Windows : </h5>
<p>C:/Users/[VotreNomDeSession]/AppData/Roaming/.minecraft/screenshots</p>
<p>
    Pour vous rendre dans ce dossier vous pouvez tapez
    %appdata%/.minecraft/screenshots dans le champ de recherche du
    menu Démarrer.
</p>

<img class="img_aide" src="/images/public/aide/chemin_screenshots.jpg" />

<h5>Sur Mac :</h5>
<p>
    /Users/[VotreNomDeSession]/Library/Application
    Support/minecraft/screenshots/
</p>

<h5>Sur Linux :</h5>
<p>
    /home/[VotreNomDeSession]/.minecraft/screenshots
</p>

<h4>Comment ajouter mes screenshots à ma postulation ?</h4>
<p>
    Pour ajouter vos screenshots à votre postulation il faudra d'abord
    les héberger sur internet, pour cela rendez-vous sur un site
    d'hébergement d'image comme <a href="http://www.casimages.com/">Casimages</a>
    ou <a href="http://www.hostingpics.net/">Hosting Pics</a>. Ensuite choisissez
    une image en cliquant sur le bouton "Ajouter un fichier" puis validez.
</p>

<p>
    Une fois votre image hébergée il va vous falloir récupérer son adresse url
    directe. Certains hébergeurs propose simplement le lien direct de l'image
    et pour d'autres il est nécessaire de cliquer plusieurs fois sur l'image
    jusqu'à ce qu'elle s'affiche seule dans le navigateur (page complètement
    blanche à l'exception de l'image), il vous reste alors à récupérer l'url
    dans la barre d'adresse du navigateur.²
</p>

<img class="img_aide" src="/images/public/aide/url.jpg" />

<p>
    Il ne reste plus qu'à copier cette adresse dans le champ url du screenshot
    correspondant de votre postulation et à le commenter convenablement.
</p>
