<form class="form-horizontal formulaire news-edit" {{{ attributes }}}>

   {{# news_title }}
   <div class="control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls large">
         {{> form/input }}
         {{> form/errors }}
      </div>
   </div>
   {{/ news_title }}

   {{# banner }}
   <div class="control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls large">
         {{> form/input }}
         {{> form/errors }}
      </div>
   </div>
   {{/ banner }}

   {{# private }}
   <div class="control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls">
         {{> form/errors }}
         {{> form/checkbox }}
      </div>
   </div>
   {{/ private }}

   {{# important }}
   <div class="control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls">
         {{> form/errors }}
         {{> form/checkbox }}
      </div>
   </div>
   {{/ important }}

   {{# summary }}
      {{> public/news/_news_editor }}
   {{/ summary }}

   {{# contents }}
      {{> public/news/_news_editor }}
   {{/ contents }}

   <input class="btn pull-right valider" type="submit" value="Poster" />
</form
