<div class="titre"> title </div>
<div class="banner"><img src="{{ banner_url }}" /></div>
<div class="mde-preview mde-control contenu">{{{ parsed_value }}}</div>
<div class="creation">- Le JJ/MM/AAAA à hh:mm par {{ author }} -</div>
