<div class="mdeditor">
   <div class="control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls">
         {{> form/mdeditor/controls }}
         {{> form/errors }}
         {{> form/mdeditor/textarea }}
      </div>
   </div>
   <div class="newses">
      <div class="news">
         {{> public/news/_news_preview }}
      </div>
   </div>
</div>
