{{# title }}Ecrire une News{{/ title }}

{{# errors? }}
<div class="alert alert-error">
   <ul>
   {{# errors }}
      <li>{{.}}</li>
   {{/ errors }}
   </ul>
</div>
{{/ errors? }}

<form action="" method="POST">
   <label for="title">Titre</label>
   <input id="title" name="news[title]" type="text" value="{{ news_title }}" />

   <label for="banner">Bannière</label>
   <input id="banner" name="news[banner]" type="text" value="{{ banner }}" />

   <label for="summary">Résumé</label>
   <textarea id="summary" name="news[summary]" class="mdeditor">{{ summary }}</textarea>

   <label for="news_contents">Contenu</label>
   <textarea id="news_contents" name="news[contents]" class="mdeditor">{{ contents }}</textarea>

   <label for="private">Privée</label>
   <input id="private" name="news[private]" type="checkbox" {{{ private }}}/>

   <label for="important">Importante</label>
   <input id="important" name="news[important]" type="checkbox" {{{ important }}}/>

   <input class="btn" type="submit" value="Poster" />
</form
