{{#title}}News{{/title}}

<div class="newses">
    {{# newses }}
    <div class="news {{ important_class }}">
        <div class="titre">
            {{# show? }}<a href="{{ url }}">{{ title }}</a>{{/ show? }}
            {{^ show? }}{{ title }}{{/ show? }}
        </div>
        {{# show? }}
        <div class="banner">
          <a href="{{ url }}"><img src="{{ banner_url }}" /></a>
        </div>
        <div class="contenu">{{{ summary }}}</div>
        <div class="suite">
            <a href="{{ url }}">→ Lire la suite...</a>
        </div>
        {{/ show? }}
        <div class="creation"> - Le {{ created }} par {{ author }} - </div>
        <div class="ligne"> </div>
    </div>
    {{/ newses }}
</div>
