{{# page_title }}News{{/ page_title }}

{{# redacteur? }}
<div class="align-right">
      <a href="/news/creer">Créer une news</a>
</div>
{{/ redacteur? }}

<div class="newses" data-autofill>
   {{# newses }}
   <div class="news {{ important_class }}">
      {{# redacteur? }}
         <a href="{{ delete_url }}" data-remove-target="div.news">
            <div class="suppr"></div>
         </a>
         <a href="{{ edit_url }}">
            <div class="edit"></div>
         </a>
      {{/ redacteur? }}
         {{# show? }}
            <div class="titre"><a href="{{ url }}">{{ title }}</a></div>
         {{/ show? }}
         {{^ show? }}
            <div class="titre prive">
               <img src="{{ static }}images/public/news/cadenas.png">
               {{ title }}
            </div>
         {{/ show? }}
      {{# show? }}
      <div class="banner">
         <a href="{{ url }}"><img src="{{ banner_url }}" /></a>
      </div>
      <div class="contenu">{{{ summary }}}</div>
      <div class="suite">
         <a href="{{ url }}">
            → Lire la suite...
            {{# comments? }}({{ comments_count }} commentaire{{# comments_plural? }}s{{/ comments_plural? }}){{/ comments? }}
         </a>
      </div>
      {{/ show? }}
      {{^ updated? }}
         <div class="creation">- Le {{ created }} par {{ author }} -</div>
      {{/ updated? }}
      {{# updated? }}
         <div class="creation">- Par {{ author }} - Mise à jour le {{ updated }} - </div>
      {{/ updated? }}
   </div>
   {{/ newses }}
</div>
