{{#title}}News{{/title}}

{{# news }}
<div class="newses">
   <div class="news {{ important_class }}">
      {{# redacteur? }}
         <a class="need-confirmation" href="{{ delete_url }}">
            <div class="suppr"></div>
         </a>
         <a href="{{ edit_url }}">
            <div class="edit"></div>
         </a>
      {{/ redacteur? }}
      <div class="titre">{{ title }}</div>
      <div class="banner"><img src="{{ banner_url }}" /></div>
      <div class="contenu">{{{ contents }}}</div>
      <div class="creation">- Le {{ created }} par {{ author }} -</div>
   </div>
</div>
{{/ news }}
