<div class="btn-group switch" data-formidable="switch">
   {{# among }}
   <button type="button" class="btn{{ switch_class }}" data-formidable-item="{{ name }}">{{ value }}</button>
   {{/ among }}
</div>
