<div class="form-horizontal largeur-input">

   {{# name }}
   <div class="field-{{ field_id }} control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls">
         {{> form/input }}
         {{> form/errors }}
         {{> form/hint }}
      </div>
   </div>
   {{/ name }}

   {{# minecraft_name }}
   <div class="field-{{ field_id }} control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls">
         {{> form/input }}
         {{> form/errors }}
         {{> form/hint }}
      </div>
   </div>
   {{/ minecraft_name }}

   {{# password }}
   <div class="field-{{ field_id }} control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls monoligne">
         {{> form/input }}
         {{> form/errors }}
         {{> form/hint }}
      </div>
   </div>
   {{/ password }}

   {{# password_confirmation }}
   <div class="field-{{ field_id }} control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls monoligne">
         {{> form/input }}
         {{> form/errors }}
         {{> form/hint }}
      </div>
   </div>
   {{/ password_confirmation }}

   {{# email }}
   <div class="field-{{ field_id }} control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls">
         {{> form/input }}
         {{> form/errors }}
         {{> form/hint }}
      </div>
   </div>
   {{/ email }}

   {{# birthdate }}
   <div class="field-{{ field_id }} control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls monoligne">
         {{> form/input }}
         {{> form/errors }}
         {{> form/hint }}
      </div>
   </div>
   {{/ birthdate }}

   {{# sexe }}
   <div class="field-{{ field_id }} control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls">
         {{> form/picker }}
         {{> form/errors }}
         {{> form/hint }}
      </div>
   </div>
   {{/ sexe }}

   {{# rules_acceptance }}
   <div class="field-{{ field_id }} control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls">
         {{> form/checkbox }}
         {{> form/errors }}
      </div>
   </div>
   {{/ rules_acceptance }}

</div>

{{> public/postulation/_next }}
