{{# free_text }}
<div class="field-{{ field_id }}">
   {{> form/textarea }}
   {{> form/errors }}
   {{> form/hint }}
</div>
{{/ free_text }}

<div class="clearfix"></div>
<div><input type="submit" class="btn pull-right" value="Envoyer" /></div>
