<div class="field-postulation_screens">
   {{# screens }}
      <p>
         Utilisez l'adresse url directe de l'image et non celle
         d'une page où apparait l'image (la page doit être
         entièrement blanche à l'exception de l'image). Si vous
         ne savez pas ce qu'est un screenshot, comment en prendre
         ou comment les mettre en ligne, vous pouvez consulter
         la <a href="/aide/screenshots" target="_blank">page
         d'aide correspondante</a>.
      </p>
      <br>

      {{> form/errors }}

      {{# template }}
      <fieldset class="field-screen-template" disabled style="display: none;">
         <h4>Screenshot {{ index }}</h4>
         <a href="#" class="btn remove-screen" >Supprimer</a>
         <div class="cleaner"></div>
         <div class="form-horizontal largeur-textarea">
            {{# url }}
               <div class="control-group">
                  <div class="control-label">{{> form/label }}</div>
                  <div class="controls">
                     {{> form/input }}
                     {{> form/errors }}
                     {{> form/hint }}
                  </div>
               </div>
            {{/ url }}
            {{# description }}
               <div class="control-group">
                  <div class="control-label compteur">{{> form/label }}</div>
                  <div class="controls">
                     {{> form/textarea_counter }}
                     {{> form/errors }}
                     {{> form/hint }}
                  </div>
               </div>
            {{/ description }}
         </div>
      </fieldset>
      {{/ template }}
      {{# values }}
      <fieldset class="field-screen">
         <h4>Screenshot {{ index }}</h4>
         <a href="#" class="btn remove-screen" >Supprimer</a>
         <div class="cleaner"></div>
         <div class="form-horizontal largeur-textarea">
            {{# url }}
            <div class="control-group">
               <div class="control-label">{{> form/label }}</div>
               <div class="controls">
                  {{> form/input }}
                  {{> form/errors }}
                  {{> form/hint }}
               </div>
            </div>
            {{/ url }}
            {{# description }}
            <div class="control-group">
               <div class="control-label compteur">{{> form/label }}</div>
               <div class="controls">
                  {{> form/textarea_counter }}
                  {{> form/errors }}
                  {{> form/hint }}
               </div>
            </div>
         {{/ description }}
         </div>
      </fieldset>
      {{/ values }}
   {{/ screens }}
   <a href="#" class="btn add-screen">Ajouter un screenshot</a>
</div>

{{> public/postulation/_next }}
