{{#title}}Connexion{{/title}}

<form id="login" class="formulaire" action="" method="post">
   {{#invalid?}}
      <div class="flash warning">Mot de passe ou pseudo invalide.</div>
   {{/invalid?}}
   {{#banned?}}
      <div class="flash warning">Vous êtes banni de ce site.</div>
   {{/banned?}}
   <input class="centre" name="name" type="text"
         placeholder="Pseudo" {{{ name }}}/>
   <input class="centre" name="password" type="password"
         placeholder="Mot de passe" {{{ password }}}/>
   <div class="centre remember">
      <input name="remember_me" type="checkbox" {{{ remember }}}/>
      <span>Se souvenir de moi</span>
   </div>
   <div class="cleaner"></div>
   <input class="centre btn connexion" value="Se connecter" type="submit" />
</form>
