{{#title}}Connexion{{/title}}

<form class="formulaire aligned" action="" method="post">
   {{#invalid?}}
      <div class="flash warning">Mot de passe ou pseudo invalide.</div>
   {{/invalid?}}
   {{#banned?}}
      <div class="flash warning">Vous êtes banni de ce site.</div>
   {{/banned?}}
   <div class="field">
      <!-- <label for="name">Nom</label> -->
      <input class="text_field" name="name" type="text"
            placeholder="Pseudo" {{{ name }}}/>
   </div>
   <div class="field">
      <!-- <label for="password">Mot de passe</label> -->
      <input class="text_field" name="password" type="password"
            placeholder="Mot de passe" {{{ password }}}/>
   </div>
   <div class="field">
      <label for="remember_me">Se souvenir de moi</label>
      <input name="remember_me" type="checkbox" {{{ remember }}}/>
   </div>
   <div class="submit">
      <input class="login" value="Se connecter" type="submit" />
   </div>
</form>
