{{# commentable? }}
<div id="champ-nouvau-commentaire">
   <a href="{{ comment_url }}" class="btn pull-right" data-inline-target="#champ-nouvau-commentaire">
      Commenter
   </a>
   <div class="cleaner"></div>
</div>
{{/ commentable? }}
