{{# form }}
<form {{{ attributes }}} class="form-comment">

   {{^ member? }}
      {{# name }}
         {{> form/label }}
         {{> form/input }}
         {{> form/errors }}
      {{/ name }}

      {{# email }}
         {{> form/label }}
         {{> form/input }}
         {{> form/errors }}
      {{/ email }}

      <div></div>

      {{# content }}
         {{> form/textarea }}
         {{> form/errors }}
      {{/ content }}
   {{/ member? }}

   {{# member? }}
      {{# content }}
         {{> news/comments/editor }}
         {{> form/errors }}
      {{/ content }}
   {{/ member? }}

   <div></div>

   <input class="btn pull-right" type="submit" value="Poster"
         {{# inline? }} data-inline-target=".form-comment"{{/ inline? }}/>
   <div class="cleaner"></div>
</form>
{{/ form }}
