<div id="{{ anchor }}" class="news-comment">
   <div class="auteur">
      {{# editable? }}
         <div class="edition">
            <a class="edit" href="{{ edit_url }}"></a>
            <a class="suppr" href="{{ delete_url }}" data-remove-target="#{{ anchor }}"></a>
         </div>
      {{/ editable? }}

      {{# member? }}
         <img class="avatar" src="{{ member_avatar }}"/>
         <div class="pseudo">{{ member_name }}</div>
      {{/ member? }}

      {{^ member? }}
         <img class="avatar" src="{{ author_avatar }}"/>
         <div class="pseudo">{{ author_name }} </div>
         {{# modo? }}
            <div class="email">({{ author_email }})</div>
         {{/ modo? }}
      {{/ member? }}

      <div class="cleaner"></div>
   </div>

   <div class="contenu">
      {{# member? }}
         {{{ content }}}
      {{/ member? }}
      {{^ member? }}
         <p>{{{ content }}}</p>
      {{/ member? }}
   </div>

</div>
