.mde-buttons.mde-control {

   margin-bottom: 6px;

   .btn-group {
      float: left;
      margin-left: 15px;

      &:first-child {
         margin-left: 0px;
      }
   }

   a span:after {
      font-weight: normal;
   }

   .mde-bold span:after {
      content: 'B';
      font-weight: bold;
   }

   .mde-italic span:after {
      content: 'I';
      font-style: italic;
   }

   .mde-link span:after {
      content: 'Lien';
   }

   .mde-image span:after {
      content: 'Img';
   }

   .mde-list span:after {
      content: '\2022';
   }

   .mde-title span:after {
      content: 'Title';
   }

   .mde-preview span:after {
      content: 'Prévisualiser';
   }
}
