.mde-buttons.mde-control {

   margin-bottom: 6px;

   .btn-group {
      float: left;
      margin-left: 15px;

      &:first-child {
         margin-left: 0px;
      }
   }

   a .mde-btn-content:after {
      font-style: normal;
      font-weight: normal;
   }

   .mde-bold .mde-btn-content:after {
      content: 'B';
      font-weight: bold;
   }

   .mde-italic .mde-btn-content:after {
      content: 'I';
      font-style: italic;
   }

   .mde-link .mde-btn-content:after {
      content: 'Lien';
   }

   .mde-image .mde-btn-content:after {
      content: 'Img';
   }

   .mde-list .mde-btn-content:after {
      content: '\2022';
   }

   .mde-title .mde-btn-content:after {
      content: 'Title';
   }

   .mde-preview .mde-btn-content:after {
      content: 'Prévisualiser';
   }

   .mde-preview.disabled .mde-btn-content {
      padding-right: 14px;
   }
}
