<div class="mde-buttons mde-control">
   <div class="btn-group">
      <a class="btn mde-title" href="#mde-title" tabindex="-1">Titre</a>
      <a class="btn dropdown-toggle" data-toggle="dropdown">
         <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
         <li><a class="mde-title mde-title2" href="#mde-title"
               data-mde-title="2" tabindex="-1">Titre 2</a></li>
         <li><a class="mde-title mde-title3" href="#mde-title"
               data-mde-title="3" tabindex="-1">Titre 3</a></li>
         <li><a class="mde-title mde-title4" href="#mde-title"
               data-mde-title="4" tabindex="-1">Titre 4</a></li>
         <li><a class="mde-title mde-title5" href="#mde-title"
               data-mde-title="5" tabindex="-1">Titre 5</a></li>
         <li><a class="mde-title mde-title6" href="#mde-title"
               data-mde-title="6" tabindex="-1">Titre 6</a></li>
      </ul>
   </div>
   <div class="btn-group">
      <a class="btn mde-quote" href="#mde-quote" tabindex="-1" title="Citation">
         <i class="icon-comment icon-white"></i>
      </a>
      <a class="btn mde-list" href="#mde-list" tabindex="-1" title="Liste">
         <i class="icon-list icon-white"></i>
      </a>
   </div>
   <div class="btn-group">
      <a class="btn mde-link" href="#mde-link" tabindex="-1" title="Lien">Lien</a>
      <a class="btn mde-image" href="#mde-image" tabindex="-1" title="Média">
         <i class="icon-film icon-white"></i>
      </a>
   </div>
   <div class="btn-group">
      <a class="btn mde-bold" href="#mde-bold" tabindex="-1" title="Gras">G</a>
      <a class="btn mde-italic" href="#mde-italic" tabindex="-1" title="Italique">I</a>
      <a class="btn mde-strikethrough" href="#mde-strikethrough" tabindex="-1" title="Barré">B</a>
   </div>
   <div class="btn-group">
      <a class="btn mde-help" href="/aide/mise_en_forme" tabindex="-1" target="_blank" title="Aide">
         <i class="icon-question-sign icon-white"></i>
      </a>
      <a class="btn mde-upload" href="/membre/upload" tabindex="-1" target="_blank" title="Upload">
         <i class="icon-arrow-up icon-white"></i>
      </a>
   </div>
   <div class="btn-group">
      <a class="btn mde-dopreview previsualisation" href="#mde-dopreview" tabindex="-1" title="Prévisualisation">
         <i class="icon-eye-open icon-white"></i>
         <span class="mde-spinner"></span>
      </a>
   </div>
   <div class="clearfix"></div>
</div>
