<form class="formulaire aligned" action="" method="post">
   {{#error?}}
      <div class="flash warning">{{ error }}</div>
   {{/error?}}
   <div class="field">
      <label for="name">Nom</label>
      <input class="text_field" name="name" type="text" />
   </div>
   <div class="field">
      <label for="password">Mot de passe</label>
      <input class="text_field" name="password" type="password" />
   </div>
   <div class="field">
      <label for="remember_me">Se souvenir de moi</label>
      <input name="remember_me" type="checkbox" />
   </div>
   <div class="submit">
      <input class="login" value="Se connecter" type="submit" />
   </div>
</form>
