<p>Vous trouverez ci-dessous les règles à respecter durant une partie de Diamond Rush. Il y en a pour les participants, mais aussi pour les spectateurs. Ce règlement est appliqué sur le serveur Diamond Rush d'Ethil Van et toute action ne le respectant pas entraînera un bannissement dont la durée peut varier en fonction de la faute commise.</p>

<h2>Participants</h2>

<h4>Fair-play et esprit d'équipe</h4>

<p>Le Diamond Rush a beau avoir pour principe d'opposer des joueurs les uns aux autres et de faire appel à notre esprit compétitif, il ne faut quand même pas oublier qu'il s'agit d'un jeu, nous organisons des parties pour nous divertir et c'est là le but premier. Certes il est préférable que les joueurs aient un minimum envie de gagner pour avoir une belle partie, mais tous les moyens ne sont pas bons pour gagner. Nous vous demanderons de faire preuve d'un peu de fair-play et donc de ne pas profiter d'une situation inhabituellement inégale (crash du jeu d'un joueur, équipe en sous-effectif pour une durée limitée, etc.). La satisfaction apportée par la victoire est d'autant plus grande lorsque l'on s'est battu à armes égales.</p>

<p>Le Diamond Rush est un jeu qui se joue en équipe, chaque joueur devant pouvoir compter sur ses coéquipiers lorsqu'il en a besoin, le tout demandant organisation et coordination. Si vous n'êtes pas capables de communiquer au sein de votre équipe, de répondre aux questions posées, ou d'écouter lorsque cela est nécessaire, ne jouez-pas et laissez votre place à quelqu'un qui saura le faire.</p>

<h4>Utilisation de mods</h4>

<p>Le serveur Diamond Rush d'Ethil Van n'est accessible qu'aux joeurs munis de notre launcher et du mode Diamond Rush (voir la <a href="/aide/telechargements/launcher">page d'aide correspondante</a>). Il est inutile d'essayer de s'y connecter sans.</p>

<p>Ce mode Diamond Rush comprend les mods suivants :
<ul>
   <li>Smart Moving : offre des possibilités supplémentaires de gameplay, notamment au niveau de l'infiltration et des déplacements dans des lieux aux reliefs importants (montagne, forêt, jungle, etc.)</li>
   <li>Optifine : permet d'optimiser les performances du jeu et d'utiliser des packs de textures HD</li>
   <li>Diamond Rush :
      <ul>
         <li>Ajoute un bouton de connexion directe au serveur Diamond Rush d'Ethil Van dans le menu principal du jeu</li>
         <li>Cache le pseudo au dessus de la tête des joueurs pour éviter qu'ils puissent être repérés alors qu'ils ne sont normalement pas visibles</li>
         <li>Cache les coordonnées sur le menu de debug (F3) afin d'obliger les joueurs à faire appel à leur sens de l'orientation et d'avoir un peu plus de challenge</li>
      </ul>
   </li>
</ul>
</p>

<p>Il est strictement interdit d'utiliser d'autres mods, quels qu'ils soient. L'utilisation de mods comme X-Ray ou MiniMap entraînera un bannissement définitif du serveur de Diamond Rush et du serveur principal.</p>

<h4>Règlement durant les différentes phases de jeu</h4>

<h5>Placement du totem</h5>

<p>Comme expliqué dans la partie "Présentation", les membres de chaque équipe sont téléportés avant la phase de placement des totems dans la direction dans laquelle ils doivent partir, et ce afin d'éviter d'avoir les totems de plusieurs équipes les uns à côté des autres. Nous vous demanderons donc de partir dans cette direction durant cette phase. Il est possible de dévier légèrement en fonction du nombre d'équipes en jeu (plus il y a d'équipes, plus les totems seront proches les uns des autres et moins il faudra dévier pendant la phase de placement).</p>

<p>Le placement du totem doit être fait dans un lieu naturel, c'est à dire que vous devez le poser à un endroit n'ayant nécessité ni cassage, ni pose de bloc. Il peut donc se trouver dans une caverne, une faille, une plaine, en haut d'un arbre, dans la mer, etc., mais pas dans un trou creusé par les joueurs ni en haut d'une colonne de terre créée pour l'occasion.</p>

<p>L'emplacement du totem va avoir une incidence non négligeable sur le déroulement de la partie et vous devez donc le choisir de manière stratégique. C'est à vous de vous adapter à votre emplacement plutôt qu'à lui de s'adapter à vous. C'est à dire que vous pouvez faire quelques modifications légères de l'environnement autour de votre totem (plantage d'arbres pour le rendre moins visible, un peu de terrassement pour améliorer votre champ de vision, etc.) mais rien d'important. Il ne s'agit pas d'un jeu d'attaque et de défense de forteresse, et la construction de murailles, de douves et autres risque simplement d'entraîner des parties à rallonge et s'éloignant des principes de base du Diamond Rush.</p>

<p>Vous ne devez pas suivre les joueurs des autres équipes durant les phases de placement (totem ou spawn), vous aurez le loisir de partir à la recherche de leur totem durant les phases de jeu.</p>

<p>Pour résumer :
   <ul>
      <li>Placement du totem dans la direction indiquée en début de partie</li>
      <li>Placement du totem dans un lieu naturel (pas de minage ou de pose de bloc)</li>
      <li>Pas d'aménagements importants autour de votre totem (murailles, douves, etc.)</li>
      <li>On ne suit pas les joueurs des autres équipes durant les phases de placement</li>
   </ul>
</p>

<h5>Placement du spawn</h5>

<p>Le point de spawn d'équipe peut être placé n'importe où à condition qu'il soit suffisamment éloigné de votre totem (par défaut 20 blocs). Vous avez le droit de camoufler votre point de spawn à partir du moment où vous respectez les conditions citées dans le point suivant pour les coffres, les autres contenants et les tables d'enchantements.</p>

<h5>Coffres, autres contenants et tables d'enchantement</h5>

<p>Les coffres, fours, distributeurs, alambics et tables d'enchantements peuvent être placés n'importe-où à condition qu'ils soient accessibles sans avoir à casser ou poser un seul bloc, ni avoir besoin d'un objet particulier. Vous pouvez les dissimuler sous l'eau, la lave, derrière un mur qu'il est possible d'ouvrir grâce à un système de Redstone, etc. du moment que l'on peut les atteindre avec un inventaire vide.</p>

<h5>Phase de développement</h5>

<p>Durant les phases de développement les joueurs ne doivent pas infliger de dégâts aux joueurs des autres équipes de quelque manière que ce soit. Il est donc interdit de leur verser de la lave dessus ou à proximité, d'essayer de leur mettre le feu, de les enterrer vivant (sable, gravier, etc.), de les pousser du haut d'une falaise, etc. Il est également interdit de faire de même avec leurs animaux de compagnie. De même les potions octroyant des effets néfastes ne sont à utiliser sur les adversaires que durant les phases de combat.</p>
<p>Vous pouvez néanmoins tendre des pièges à vos adversaires pour qu'ils se blessent ou meurent, du moment que cela n'implique aucune action de votre part pour déclencher le piège (ex: fausse, TNT avec plaque de pression, etc.)</p>

<h5>Phase de combat</h5>

<p>L'utilisation des seaux de lave en combat est interdite. Hormis cette restriction, vous pouvez utilisez tous les moyens à votre disposition (TNT, potions, briquet, loups, etc.).</p>

<h5>Autres points importants</h5>

<p>L'utilisation des coordonnées est interdite durant les parties de Diamond Rush (elles sont désactivées avec le mode Diamond Rush de notre launcher), vous devez donc faire appel à votre sens de l'orientation et à votre mémoire, ou à celles de vos coéquipiers. Vous pouvez utiliser les points cardinaux comme points de repères (en sachant que le soleil se lève à l'est et se couche à l'ouest), mais également les reliefs environnants et les différents types d'environnement (jungles, désert, rivière, etc.). Le choix de votre ou de vos éclaireurs a donc une importance non négligeable.</p>


<h2>Spectateurs</h2>

<p>Le principe fondamental à respecter pour les spectateurs est tout simplement de ne pas interférer avec la partie de quelque manière que ce soit.</p>

<p>Les spectateurs ne doivent donc en aucun cas :
   <ul>
      <li>Révéler des informations aux joueurs (position des autres équipes, position de ressources, équipement des autres joueurs, etc.)</li>
      <li>Rester trop près des joueurs pour éviter les problèmes suivants :
         <ul>
            <li>Ramassage d'XP</li>
            <li>Annulation de la pose d'un bloc par un joueur à la position du spectateur</li>
            <li>Possible interception d'une flèche tirée par un joueur ou un squelette</li>
         </ul>
      </li>
   </ul>
</p>

<p>Un canal est reservé aux spectateurs sur notre TS, vous pouvez donc y discuter librement de la partie.</p>

<p>Vous pouvez aussi vous rendre dans les canaux des différentes équipes pour vous faire une meilleure idée de l'évolution de la partie de leur côté mais devrez leur laisser la parole lorsqu'ils en ont besoin et devrez veiller à respecter les points cités précédemment.</p>


