<div class="tab-content">
   <div id="presentation" class="tab-pane tab-pane-default">
      {{> public/apercu/_presentation}}
   </div>
   <div id="images" class="tab-pane">
      {{> public/apercu/_images}}
   </div>
   <div id="videos" class="tab-pane">
      {{> public/apercu/_videos}}
   </div>
   <div id="cartes" class="tab-pane">
      {{> public/apercu/_cartes}}
   </div>
</div>
