@import 'var.less';

@avatar: 30px;

#subcontents {

   #champ-nouvau-commentaire {
      margin-top: 5px;
      margin-bottom: 20px;
   }

   .comments {
      padding: 15px;
      padding-bottom: 0px;

      .mdeditor {
         margin-top: 15px;

         textarea {
            width: 99%;
            max-width: 99%;
         }

      }

      .news-comment, .mde-preview {
         padding: 15px;
         border-radius: 6px;
         box-shadow: 1px 1px 0px 0px @gris-relief inset;
         margin-top: 15px;
         margin-bottom: 15px;

         &:last-child {
            margin-bottom: 0px;
         }

         .auteur {
            padding-bottom: 10px;
            border-bottom: 2px solid @gris-medium;

            .pseudo, .email {
               line-height: @avatar;
               display: inline;
            }

            .avatar {
               max-height: @avatar;
               max-width: @avatar * 1.5;
               float: left;
               margin: 0 10px 0 5px;
            }

            .pseudo {
               font-weight: bold;
            }

            .email {
               font-size: 14px;
               margin-left: 5px;
               color: @gris-em;
            }

            .edition{
               float: right;

               .edit, .suppr {
                  width: 24px;
                  display: inline-block;
                  vertical-align: middle;
               }

               .edit {
                  background-image: url(images/interaction/edit.png);
                  height: 21px;

                  &:hover {
                     background-image: url(images/interaction/edit-2.png);
                  }

               }

               .suppr {
                  background-image: url(images/interaction/suppr.png);
                  height: 18px;
                  margin-top: 3px;
                  margin-left: 8px;

                  &:hover {
                     background-image: url(images/interaction/suppr-2.png);
                  }

               }

            }

         }

         .contenu {
            padding-top: 10px;

            p:last-child {
               margin-bottom: 0px;
            }
         }

      }
   }

}
