<div class="tab-content">
   <div id="markdown" class="tab-pane tab-pane-default">
      {{> public/aide/mise_en_forme/_markdown}}
   </div>
   <div id="emoji" class="tab-pane">
      {{#tab_emoji}}
         {{> public/aide/mise_en_forme/_emoji}}
      {{/tab_emoji}}
   </div>
</div>
