{{# page_title }}Aide, Mise en Forme{{/ page_title }}

<div class="tab-content">
   {{# tab_markdown }}
      <div id="{{ tab_name }}" class="tab-pane tab-pane-default">
         {{> public/aide/mise_en_forme/_markdown }}
      </div>
   {{/ tab_markdown }}
   {{# tab_emoji }}
      {{# tab_title }}Emoticônes{{/ tab_title }}
      <div id="{{ tab_name }}" class="tab-pane">
         {{> public/aide/mise_en_forme/_emoji }}
      </div>
   {{/ tab_emoji }}
</div>
