<div class="emojis">

   <ul class="emojis-list">
      {{# emojis }}
         <li class="emoji-entry">
            <img alt="emoji-{{ name }}" class="emoji" src="{{ path }}" />
            <span class="emoji-name">:{{ name }}:</span>
         </li>
      {{/ emojis }}
   </ul>

   <div class="licence-block">
      <h4>License</h4>
      <pre class="licence-contents">
octocat, squirrel, shipit
Copyright (c) 2012 GitHub Inc. All rights reserved.

bowtie, neckbeard
Copyright (c) 2012 37signals, LLC. All rights reserved.

feelsgood, finnadie, goberserk, godmode, hurtrealbad, rage 1-4, suspect
Copyright (c) 2012 id Software. All rights reserved.

trollface
Copyright (c) 2012 whynne@deviantart. All rights reserved.

All other images
Copyright (c) 2012 Apple Inc. All rights reserved.
      </pre>
   </div>

</div>
