<h2>Le Markdown</h2>

<p>
    Pour la mise en forme des messages postés sur le site nous utilisons
    un système de balisage différent de ceux que l'on retrouve plus
    couramment sur les forums, le <b>Markdown</b>. Il s'agit d'un système
    de balisage léger qui permet mettre en forme rapidement et simplement
    le texte. S'il est vrai que c'est un système peu répandu et qu'il
    nécessite donc un léger temps d'adaptation, son utilisation est
    simple et certainement plus rapide que celles des autres systèmes
    existants.
</p>

<h3>Où l'utiliser</h3>

<p>Ce système de mise en forme est utilisé sur le site pour les
   éléments suivants :
   <ul>
      <li>Les messages que vous postez
      <li>Les signatures (modifiables sur la page de profil)
      <li>Les news (pour les Orateurs)
   </ul>
</p>

<h3>Comment l'utiliser</h3>

<h5>Italique :</h5>
<p>*Texte en italique* ou _Texte en italique_</p>

<h5>Gras :</h5>
<p>**Texte en gras** ou __Texte en gras__</p>

<h5>Texte barré :</h5>
<p>~~Texte barré~~

<h5>Titres :</h5>
<p># Titre de niveau 1 (grand titre)
</p>
<p>###### Titre de niveau 6
</p>

<h5>Citations :</h5>
<p>> Texte cité</p>

<h5>Ligne de séparation</h5>
<p>___ (3 underscores  d'affilée ou plus)</p>

<h5>Liste non ordonnée (puces)</h5>
<p>* Mon premier
<br>* Mon second
<br>* etc.
<br>La liste doit être précédée d'un saut de ligne.
</p>

<h5>Liens :</h5>
<p>[Texte du lien affiché](adresse url du lien)</p>

<h5>Images</h5>
<p>![Texte de remplacement de l'image en cas de problème](adresse url
   directe de l'image)</p>

<br>

<h3>Combinaison de balises</h3>
<p>Il est possible de combiner plusieurs balises afin d'obtenir le
   résultat recherché, voici quelques exemples :</p>

<h5>Texte en italique et en gras</h5>
<p>Combinaison du **gras** et de l'*italique* :
<br>***Texte en gras et en italique***</p>

<h5>Image utilisée comme lien</h5>
<p>Combinaison d'une image ![nom](url) et d'un lien [texte](url) :
<br><b>[</b>![texte de remplacement de l'image en cas de
problème](adresse url directe de l'image)<b>](</b>url du lien<b>)</b>
</p>
