<h4>Qu'est-ce que TeamSpeak ?</h4>
<p>
   TeamSpeak est un logiciel de communication qui permet de se connecter
   à plusieurs sur un serveur vocal pour dialoguer en direct.
</p>

<h4>Comment rejoindre les autres membres d'Ethil Van sur TeamSpeak ?</h4>
<p>
    Pour vous connecter au TeamSpeak d'Ethil Van et communiquer avec
    les autres membres vous devrez d'abord télécharger et installer le
    logiciel, que vous trouverez sur le
    <a href="http://www.teamspeak.com/?page=downloads">site officiel</a>.
    Une fois cela fait, il vous suffit d'enregistrer un nouveau serveur
    pour pouvoir vous y connecter, en cliquant sur "Favoris" puis "Gérer
    les favoris" et enfin "Ajouter un favori" pour rentrer les informations
    de connexion (si TeamSpeak est en anglais, référez-vous à la partie
    "Comment bien configurer TeamSpeak et mon micro ?" pour le passer en
    français). Pour le TeamSpeak d'Ethil Van, elles sont les suivantes :

<ul>
    <li><span>
        <b>Nom du serveur : </b>
        <span>Vous pouvez mettre ce que vous voulez mais "Ethil Van" est
            certainement le nom le plus approprié.</span>
    </span></li>
    <li><span>
        <b>Adresse : </b>
        <span>ts.ethilvan.fr</span>
    </span></li>
    <li><span>
        <b>Pseudo : </b>
        <span>De préférence le pseudo utilisé sur le site.</span>
    </span</li>
    <li><span>
        <b>Mot de passe : </b>
        <span>minecraft</span>
    </span></li>
</ul>

<h4>Comment bien configurer TeamSpeak et mon micro ?</h4>
<p>
   Vous voilà connectés sur le TeamSpeak d'Ethil Van mais avant de rejoindre
   l'un des canaux de discussion, quelques réglages peuvent être nécessaires.
</p>

<h5>Mettre TeamSpeak en français :</h5>
<p>
   Il y a de fortes chances que TeamSpeak soit installé en anglais et que le
   français ne soit pas disponible dans la liste des langues des options. Dans
   ce cas cliquez sur l'onglet "Settings", puis sur "Options" et dans l'onglet
    "Application" cliquez sur le lien "Get more translations". Vous arrivez
    sur une page web avec un lien "Translations" sur la gauche pour accéder
    aux différentes traductions.
</p>
<img class="img_aide" src="{{ static }}images/public/aide/translation.jpg" />

<p>
    Il vous suffit de télécharger le pack français correspondant à votre OS,
    puis de l'installer comme un logiciel classique. Une fois cela fait, il
    ne vous reste plus qu'à choisir French dans la liste des langues
    disponibles.
</p>

<h5>Choix d'une méthode de transmission du son :</h5>

<p>
    Pour choisir votre mode de transmission cliquez sur "Paramètres", "Options"
    puis dans l'onglet "Capture du son" sélectionnez l'option de votre choix.
</p>

<h6> - Transmission continue : </h6>
<p>
    Rarement adapté et peut être gênant pour les personnes avec lesquelles vous
    communiquez (grésillements, bruits de fonds, etc.)
</p>

<h6> - Activation vocale : </h6>
<p>
    Permet de transmettre le son capté par votre micro uniquement lorsque vous
    parlez, très pratique mais nécessite une bonne configuration et peut poser
    des problèmes dans des environnements bruyants en fonction du micro utilisé.
</p>

<h6> - Appuyer-pour-parler : </h6>
<p>
    Maintien d'une touche pour transmettre le son. Idéal pour vos interlocuteurs
    mais contraignant et nécessite d'assigner un raccourci clavier.
 </p>

<h5>Configuration :</h5>

<h6> - Activation vocale :</h6>
<p>
    Pour régler la sensibilité de l'activation vocale, il vous suffit de
    cliquer sur "Démarrer le test" après avoir sélectionné "Activation vocale",
    vous verrez alors le niveau sonore actuel varier et il ne vous reste plus qu'à
    ajuster le niveau sonore de l'activation vocale pour qu'il n'y ait que votre
    voix qui active la transmission du son afin d'éviter celle de bruits parasites
    (clic souris, touches de claviers, etc.).
</p>

<img class="img_aide" src="{{ static }}images/public/aide/amplitude.jpg" />

<h6> - Appuyer-pour-parler : </h6>
<p>
    Un bouton vous permettant de sélectionner votre raccourci clavier est
    disponible après avoir sélectionné "Appuyer-pour-parler", il vous suffit donc
    de cliquer dessus puis d'appuyer sur la touche désirée. Vous pouvez
    sélectionner d'autres raccourcis clavier dans l'onglet "Raccourci".
</p>

<h4>Utilisation du TeamSpeak : </h4>
<p>
    Le serveur vocal d'Ethil Van est composé de plusieurs canaux, pour vous
    rendre dans l'un d'eux il suffit de double-cliquer sur son nom. Les différents
    canaux permettent d'éviter les conversations croisées, il est donc préférable
    de les utiliser convenablement, notamment lors des expéditions ou de sessions
    sur d'autres jeux.
</p>

<p>
    Certains canaux sont réservés à des groupes spéciaux, comme le "Bureau du staff"
    l'est pour l'équipe d'administration, il sera possible de créer des canaux
    pour la réalisation de projets particuliers comme les donjons afin de
    permettre à ceux qui les préparent de pouvoir parler librement tout en
    gardant la surprise aux autres membres du serveur.
</p>
