<p>
   Le launcher d'Ethil Van vous permet de toujours avoir la version
   de Minecraft compatible avec nos serveurs (principal et Diamond
   Rush) et de bénéficier de divers ajouts et fonctionnalités.
</p>

<h4>Ajouts et fonctionnalités</h4>

<h5>Modes de jeu</h5>
<p>
   Il vous permet également d'utiliser différentes
   versions de Minecraft avec un seul launcher sans avoir à
   remplacer manuellement votre minecraft.jar etc. (dossiers
   séparés pour chaque mode de jeu). Vous pourrez donc par exemple
   passer simplement du mode principal au mode Diamond Rush.
</p>
<p>
   <b>Modes actuellement disponibles :</b>
   <ul>
      <li>Mode principal (disponible par défaut)</li>
      <li>Mode Diamond Rush ("http://updates.ethilvan.fr/diamondrush.json")</li>
   </ul>
</p>
<p>
   Pour ajouter un mode de jeu, cliquez sur "options" avant de lancer le
   jeu, puis sur l'onglet "Modes", rentrez l'adresse correspondant au
   mode voulu (donnée ci-dessus) et cliquez sur "Ajouter".
   Il ne vous reste plus qu'à sélectionner le mode que vous souhaitez
   utiliser dans liste de choix au-dessus du bouton "Connexion" avant
   de lancer le jeu.
</p>

<h5>Menus Ethil-Vanniens</h5>
<p>
   Boutons supplémentaires dans les menus de Minecraft pour vous
   connecter directement au serveur (en fonction du mode de jeu),
   pour vous rendre sur le site ou pour consulter la carte dynamique
</p>

<h5>Blocs et objets Ethil Vanniens</h5>
<p>
   Blocs et objets ajoutés par nos soins disponibles sur le serveur,
   les listes complètes se trouvent sur les pages d'aide
   correspondantes (<a href="/aide/nouveautes/blocs">Blocs</a>,
   <a href="/aide/nouveautes/objets">Objets</a>).
</p>

<h5>Smart Moving</h5>
<p>
   Mod permettant de rajouter un bon nombre de possibilité de
   mouvements dans Minecraft, etenainsi que de nouvelles animations
   (<a href="http://www.minecraftforum.net/topic/361430-">sujet
   correspondant sur minecraftforum.net</a>).
</p>

<h5>Optifine</h5>
<p>
   Mod permettant d'optimiser les performances de Minecraft et de
   proposer plus d'options graphiques
   (<a href="http://www.minecraftforum.net/topic/249637-">sujet
   correspondant sur minecraftforum.net</a>).
</p>
<br>

<h4>Liens de téléchargment</h4>

<h5>Version recommandée :</h5>

<p>
   Il s'agit de la version que nous vous conseillons d'utiliser, celle
   que nous avons testé de manière approfondie et qui ne devrait pas
   contenir de bugs majeurs.
</p>

<p>
   <ul>
      <li><a href="http://updates.ethilvan.fr/launcher/EthilVan.exe">EthilVan.exe</a> pour Windows</li>
      <li><a href="http://updates.ethilvan.fr/launcher/EthilVan.jar">EthilVan.jar</a> pour n'importe quel OS</li>
   </ul>
</p>

<h5>Version de développement :</h5>

<p>
   Il s'agit de la dernière version du launcher automatiquement
   compilée et publiée à chaque modification du code source. Elle
   bénéficie donc des dernières fonctionnalités mais aussi des
   éventuels derniers bugs.
</p>

<p>
   <ul>
      <li><a href="http://updates.ethilvan.fr/launcher/EthilVanDev.exe">EthilVanDev.exe</a> pour Windows</li>
      <li><a href="http://updates.ethilvan.fr/launcher/EthilVanDev.jar">EthilVanDev.jar</a> pour n'importe quel OS</li>
   </ul>
</p>
<br>

<h4>Code source</h4>
<p>
   Le code source de notre launcher est libre et disponible sur <img
   src="/images/emoji/octocat.png" alt="emoji-octocat" class="emoji"
   title="GitHub"> GitHub
   (<a href="https://github.com/EthilVanMods/Launcher">ici</a>), vous
   pouvez donc le consulter si vous voulez vous faire une idée de la
   manière dont il a été réalisé ou si vous voulez simplement vous
   assurer qu'il ne contient pas de code malveillant.
</p>
<p>
   Le launcher a été développé de manière à pouvoir être entièrement
   personnalisé pour d'autres serveurs. Pour plus d'informations à ce
   sujet vous pouvez contacter l'équipe de développement via notre
   <a href="/contact">formulaire de contact</a>.
</p>
