{{#title}}Discussions{{/title}}

<div class="discussion-group">
   <a href="/membre/discussion">
      ← Retour à la liste des espaces de discussion
   </a>
   <div class="ligne"></div>
   <div class="entete-espace">
      <div class="titre-espace">{{ name }}</div>
      <p>{{ description }}</p>
   </div>
   {{> member/discussion/_discussion_previews }}
</div>
<a href="{{ url }}/creer">
   <input class='btn button-right' type="button" value="Nouvelle discussion"/>
</a>
