{{# form }}
<form class="form-horizontal formulaire" {{{ attributes }}}>

   {{# name }}
      <div class="control-group">
         <div class="control-label">{{> form/label }}</div>
         <div class="controls">
            {{> form/input }}
            {{> form/errors }}
         </div>
      </div>
   {{/ name }}

   {{# url }}
      <div class="control-group">
         <div class="control-label">{{> form/label }}</div>
         <div class="controls">
            {{> form/input }}
            {{> form/errors }}
         </div>
      </div>
   {{/ url }}

   {{# icon }}
      <div class="control-group">
         <div class="control-label">{{> form/label }}</div>
         <div class="controls">
            {{> form/input }}
            {{> form/errors }}
         </div>
      </div>
   {{/ icon }}

   {{# description }}
      <div class="control-group">
         <div class="control-label">{{> form/label }}</div>
         <div class="controls">
            {{> form/textarea }}
            {{> form/errors }}
         </div>
      </div>
   {{/ description }}

   {{# priority }}
      <div class="control-group">
         <div class="control-label">{{> form/label }}</div>
         <div class="controls priorite">
            {{> form/input }}
            {{> form/errors }}
         </div>
      </div>
   {{/ priority }}

   <div>
      <input class="btn pull-right" type="submit" value="Enregistrer" />
   </div>
</form>
{{/ form }}
