<div id="{{ anchor }}" class="news-comment">
   <div class="auteur"></div>
   <div class="contenu mde-preview mde-control">
      {{{ parsed_value }}}
   </div>

   <div class="cleaner"></div>
</div>


