<p>
   Nous allons voir ici les quelques règles à respecter lorsque
   l'on crée des discussions ou que l'on poste des messages sur
   le site. Celles-ci viennent s'ajouter à celles de la catégorie
   "Expression et communication" du règlement général.
</p>

<h4>Création de discussions</h4>
<p>
   Il est impossible de définir des critères précis pour la nécessité
   de création d'une nouvelle discussion, nous ferons donc appel à
   votre bon sens. Evitez simplement de créer de nouvelles discussion
   à tout-va, tout en évitant de surcharger celles déjà présentes avec
   des messages n'étant pas directement liés à leur sujet principal.
</p>
<p>
   Lorsque vous créez une discussion pensez à la nommer de manière
   claire et concise. Il faut pouvoir se faire une idée de son contenu
   en un coup d'œil et éviter que l'on puisse la confondre avec une
   autre.
</p>

<h4>Mise en forme du texte</h4>
<p>
   Un certain nombre d'options sont disponibles sur le site pour mettre
   en forme vos messages et ainsi améliorer leur lisibilité (voir la
   <a href="/aide/mise_en_forme">page d'aide correspondante</a>). Vous
   êtes priés de les utiliser à bon escient afin de bien organiser vos
   messages, de faciliter leur lecture et d'obtenir un résultat
   esthétique.
</p>
<p>
   Par exemple, nous vous demandons d'éviter de donner des liens d'images
   ou autres médias non mis en forme. Vous pouvez choisir d'utiliser la
   mise en forme dédiée à ce type d'élément (affichage du média) ou de
   créer un lien sur un mot (ou groupe de mots) pointant vers la page
   contenant le média. L'affichage direct des images restant à
   privilégier dans la plupart des cas.
</p>

<h4>Emoticônes</h4>
<p>
   Un grand nombre d'émoticônes sont disponibles sur le site. Elles sont
   là pour vous permettre d'illustrer vos messages, pour qu'ils
   reflètent votre humeur ou votre ton, mais pas pour transformer vos
   messages en rébus. Elles ne doivent pas être utilisées en
   remplacement des mots dans vos messages et doivent être utilisées
   avec parcimonie.
</p>
