<div class="accordion" id="videos">

   <p>Les vidéos sont regroupées par thème. Cliquez sur le titre d'un
      thème pour révéler les différentes vidéos associées.</p>
   <p>Les premières vidéos ont été tournées avant
      que le pack de textures du serveur ne soit créé, pour en avoir
      un aperçu vous pouvez consulter les vidéos suivantes ou la
      section images.</p>

   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="theme-video accordion-toggle collapsed" data-toggle="collapse"
                  data-parent="#videos" href="#video-presentation">
            Ouverture d'Ethil Van
         </a>
      </div>
      <div id="video-presentation" class="accordion-body collapse">
         <div class="accordion-inner">
            <p>Il s'agit de la première vidéo tournée sur le serveur, celle
               qui annonce son ouverture et qui explique brièvement les
               principes du serveur. Ajouter à cela une petite visite et
               un aperçu des projets en cours et cela vous donne une bonne
               idée de ce qui vous attend sur Ethil Van. Bien entendu
               d'autres projets ont vu le jour depuis et ceux que vous
               pouvez y apercevoir ont bien avancé.</p>
            <div class="video">
               <iframe src="http://youtube.com/embed/RvAb2HERtYM" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>

   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="theme-video accordion-toggle collapsed" data-toggle="collapse"
                  data-parent="#videos" href="#video-noel">
            Petit évènement pour Noël
         </a>
      </div>
      <div id="video-noel" class="accordion-body collapse">
         <div class="accordion-inner">
            <p>Cette vidéo a été tournée lors d'un petit évènement
               que nous avions organisé à l'occasion de Noël. On peut
               avoir un petit aperçu de nos batailles de boules de neige,
               de notre sapin et des quelques cadeaux qui étaient à ses
               pieds.</p>
            <div class="video">
               <iframe src="http://youtube.com/embed/dS97fAjlOkA" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>

   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="theme-video accordion-toggle collapsed" data-toggle="collapse"
                  data-parent="#videos" href="#video-ender">
            Exploration de forteresse et combat contre le Dragon du Néant
         </a>
      </div>
      <div id="video-ender" class="accordion-body collapse">
         <div class="accordion-inner">
            <h5>Exploration d'une forteresse</h5>
            <p>Vidéo réalisée par H2O à l'occasion de la première
               exploration de forteresse du serveur. Nous pensions y
               affronter des hordes de monstres et y trouver des
               ressources merveilleuses mais le résultat a été assez
               différent.</p>
            <div class="video">
               <iframe src="http://youtube.com/embed/JrNHqYWBhc8" frameborder="0" allowfullscreen></iframe>
            </div>
            <br></br>

            <h5>Premier combat contre le Dragon du Néant</h5>
            <p>Suite à l'exploration de la forteresse nous nous sommes
               préparés et avons formé un petit groupe d'aventuriers afin
               d'aller affronter le terrible dragon du Néant, qui au
               final ne s'est pas révélé si terrible.</p>
            <div class="video">
               <iframe src="http://youtube.com/embed/BgCKBHMNYrI" frameborder="0" allowfullscreen></iframe>
            </div>
            <br></br>
            <h5>Deuxième combat contre le Dragon du Néant</h5>
            <p>Et voici notre deuxième combat quelques temps plus tard
               (tournée par Garghamel et avec le pack de textures du
               serveur cette fois-ci). La vidéo est en deux parties.</p>
            <div class="video">
               <iframe src="http://www.youtube.com/embed/7i4fyQZ2jdg" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video">
               <iframe src="http://www.youtube.com/embed/M8oAMS_EJmE" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>

   <div class="accordion-group">
      <div class="accordion-heading">
         <a class="theme-video accordion-toggle collapsed" data-toggle="collapse"
                  data-parent="#videos" href="#video-vampire">
            Vampire Survival
         </a>
      </div>
      <div id="video-vampire" class="accordion-body collapse">
         <div class="accordion-inner">
            <p>Ces vidéos ont été tournées à l'occasion d'Halloween sur la map Vampire Survival créée par Hypixel. Nous avons fait un bon nombre de parties mais seules les quatre suivantes ont été filmées.</p>
            <div class="video">
               <iframe src="http://www.youtube.com/embed/zdsG6aF05q4" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video">
               <iframe src="http://www.youtube.com/embed/vb6gm8Qz_zQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video">
               <iframe src="http://www.youtube.com/embed/EJC_87frZDI" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video">
               <iframe src="http://www.youtube.com/embed/WnMdY9g30m0" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>

</div>
