<p>
   Les quatre premières vidéos ci-dessous ont été tournées avant que le pack de textures
   du serveur ne soit créé, pour en avoir un aperçu vous pouvez consulter les vidéos
   suivantes ou la section images.
</p>

<h3>Ouverture d'Ethil Van :</h3>
<p>
   Il s'agit de la première vidéo tournée sur le serveur, celle qui annonce son ouverture
   et qui explique brièvement les principes du serveur. Ajouter à cela une petite visite et
   un aperçu des projets en cours et cela vous donne une bonne idée de ce qui vous attend
   sur Ethil Van. Bien entendu d'autres projets ont vu le jour depuis et ceux que vous
   pouvez y apercevoir ont bien avancé.
</p>
<div class="video">
    <iframe width="760" height="445" src="http://youtube.com/embed/RvAb2HERtYM" frameborder="0" allowfullscreen></iframe>
</div>
<br></br>

<h3>Petit évènement pour Noël</h3>
<p>
    La vidéo suivante a été tournée lors d'un petit évènement que nous avions organisé à
    l'occasion de Noël. On peut avoir un petit aperçu de nos batailles de boules de neige,
    de notre sapin et des quelques cadeaux qui étaient à ses pieds.
</p>
<div class="video">
    <iframe width="760" height="445" src="http://youtube.com/embed/dS97fAjlOkA" frameborder="0" allowfullscreen></iframe>
</div>
<br></br>

<h3>Exploration d'une forteresse</h3>
<p>
    Vidéo réalisée par H2O à l'occasion de la première exploration de forteresse du serveur.
    Nous pensions y affronter des hordes de monstres et y trouver des ressources merveilleuses
    mais le résultat a été assez différent.
</p>
<div class="video">
    <iframe width="760" height="445" src="http://youtube.com/embed/JrNHqYWBhc8" frameborder="0" allowfullscreen></iframe>
</div>
<br></br>

<h3>Combats contre le Dragon du Néant</h3>
<p>
    Suite à l'exploration de la forteresse nous nous sommes préparés et avons formé un petit
    groupe d'aventuriers afin d'aller affronter le terrible dragon du Néant, qui au final ne
    s'est pas révélé si terrible.
</p>
<div class="video">
    <iframe width="760" height="445" src="http://youtube.com/embed/BgCKBHMNYrI" frameborder="0" allowfullscreen></iframe>
</div>
<br></br>
<p style="text-align: center;">
   Et voici notre deuxième combat quelques temps plus tard (tournée par Garghamel et avec le
   pack de textures du serveur cette fois-ci).
</p>
<div class="video">
   <iframe width="760" height="445" src="http://www.youtube.com/embed/7i4fyQZ2jdg" frameborder="0" allowfullscreen></iframe>
</div>
<br></br>
<p style="text-align: center;">2ème partie de notre deuxième combat contre le dragon :</p>
<div class="video">
   <iframe width="760" height="445" src="http://www.youtube.com/embed/M8oAMS_EJmE" frameborder="0" allowfullscreen></iframe>
</div>
