{{#title}}News et annonces{{/title}}

{{# news }}
<div class="news {{ important_class }}">
    <div class="titre">{{ title }}</div>
    <div class="banner"><img src="{{ banner_url }}" /></div>
    <div class="contenu">{{{ contents }}}</div>
    <div class="creation">- Le {{ created }} par {{ author }} -</div>
</div>
{{/ news }}
