Voici le lien qui vous permettra de mettre à jour votre mot de passe :

{{ url }}

Cet email vous est envoyé car une requête pour renouveller le mot de passe du
compte associé à votre adresse email sur le site http://ethilvan.fr à été
faite.
Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorez cette
email sans risque.
Si de telles requêtes venez à être répetées au point d'encombrer votre boite
mail, n'hesitez pas à prevenir l'équipe du site en utilisant le formulaire de
contact que vous pourrez trouver en suivant le lien suivant:
http://ethilvan.fr/contact/
