{{# page_title }}Contact{{/ page_title }}

{{# success? }}
<div class="flash success">
   Email envoyé
</div>
{{/ success? }}

{{# form }}
<form class="form-horizontal formulaire" {{{ attributes }}}>

   {{# name }}
   <div class="control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls">
         {{> form/input }}
         {{> form/errors }}
      </div>
   </div>
   {{/ name }}

   {{# email }}
   <div class="control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls">
         {{> form/input }}
         {{> form/errors }}
      </div>
   </div>
   {{/ email }}

   {{# category }}
   <div class="control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls" id="category">
         {{> form/select }}
         {{> form/errors }}
      </div>
   </div>
   {{/ category }}

   {{# subject }}
   <div class="control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls">
         {{> form/input }}
         {{> form/errors }}
      </div>
   </div>
   {{/ subject }}

   {{# message }}
   <div class="control-group">
      <div class="control-label">{{> form/label }}</div>
      <div class="controls">
         {{> form/textarea }}
         {{> form/errors }}
      </div>
   </div>
   {{/ message }}

   <input type="submit" class="btn pull-right" value="Envoyer" />


</form>
{{/ form }}

<div class="cleaner"></div>

<hr>

<p>
   Vous pouvez également nous contacter en passant directement sur notre
   serveur TeamSpeak.
</p>
<p>
   <b>Adresse :</b> ts.ethilvan.fr<br>
   <b>Mot de passe :</b> minecraft
</p>
