{{# page_title }}Connexion{{/ page_title }}

{{# invalid? }}
   <div class="flash warning">Mot de passe ou pseudo invalide.</div>
{{/ invalid? }}
{{# banned? }}
   <div class="flash warning">Vous êtes banni de ce site.</div>
{{/ banned? }}

{{# form }}
<form id="login" class="formulaire" {{{ attributes }}}>
   {{# name }}
      {{> form/errors }}
      {{> form/input }}
   {{/ name }}

   {{# password }}
      {{> form/errors }}
      {{> form/input }}
   {{/ password }}

   {{# remember }}
      <div class="remember">
         {{> form/checkbox }}
         {{> form/label }}
      </div>
   {{/ remember }}
   <div class="cleaner"></div>
   <a href="/login/oublie">Mot de passe oublié</a>
   <div class="cleaner"></div>
   <input class="btn connexion" value="Se connecter" type="submit" />
</form>
{{/ form }}
