{{# ok? }}
<div class="flash success">
   Modifications enregistrées
</div>
{{/ ok? }}

{{# invalid_current_password? }}
<div class="flash warning">
   Mot de Passe actuel invalide !
</div>
{{/ invalid_current_password? }}

{{# form }}
<form {{{ attributes }}}>

   <label for="current_password">Mot de Passe actuel :</label>
   <input id="current_password" name="current_password"
         type="password" autocomplete="off" data-required="true"/>

   {{# email }}
      {{> form/label }}
      {{> form/errors }}
      {{> form/input }}
   {{/ email }}

   {{# password }}
      {{> form/label }}
      {{> form/errors }}
      {{> form/input }}
   {{/ password }}

   {{# password_confirmation }}
      {{> form/label }}
      {{> form/errors }}
      {{> form/input }}
   {{/ password_confirmation }}

   <div class="clearfix"></div>

   <input class="btn" type="submit" value="Enregistrer" />
</form>
{{/ form }}
