<div class="profil-edit">

   {{# ok? }}
   <div class="flash success">
      Modifications enregistrées
   </div>
   {{/ ok? }}

   {{# invalid_current_password? }}
   <div class="flash warning">
      Votre Mot de Passe est invalide !
   </div>
   {{/ invalid_current_password? }}

   {{# form }}
   <form class="form-horizontal"{{{ attributes }}}>

      <div class="control-group">
         <div class="control-label">
            <label for="current_password">
               Votre Mot de Passe
            </label>
         </div>
         <div class="controls">
            <input id="current_password" name="current_password"
            type="password" autocomplete="off" data-required="true"/>
            {{> form/errors }}
         </div>
      </div>

      {{# banned }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/switch }}
               {{> form/errors }}
            </div>
         </div>
      {{/ banned }}

      {{# vote_needed }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/switch }}
               {{> form/errors }}
            </div>
         </div>
      {{/ vote_needed }}

      {{# email }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/input }}
               {{> form/errors }}
            </div>
         </div>
      {{/ email }}

      {{# password }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/input }}
               {{> form/errors }}
            </div>
         </div>
      {{/ password }}

      {{# password_confirmation }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/input }}
               {{> form/errors }}
            </div>
         </div>
      {{/ password_confirmation }}

      <div class="clearfix"></div>

      <div class="boutons">
         <input class="btn pull-right" type="submit" value="Enregistrer" />
         <a href="../general">
            <input class="btn profil-retour" type="button" value="Retour au profil"/>
         </a>
      </div>
   </form>
   {{/ form }}

</div>
