{{# ok? }}
<div class="flash success">
   Modifications enregistrées
</div>
{{/ ok? }}

{{# form }}
<form {{{ attributes }}}>

   {{# avatar }}
      {{> form/label }}
      {{> form/errors }}
      {{> form/input }}
   {{/ avatar }}

   {{# cadre_url }}
      {{> form/label }}
      {{> form/errors }}
      {{> form/input }}
   {{/ cadre_url }}

   {{# signature }}
      {{> form/label }}
      {{> form/errors }}
      {{> form/mdeditor }}
   {{/ signature }}

   <div class="clearfix"></div>

   <input class="btn" type="submit" value="Enregistrer" />
</form>
{{/ form }}
