<div class="profil-edit">

   {{# ok? }}
   <div class="flash success">
      Modifications enregistrées
   </div>
   {{/ ok? }}

   {{# form }}
   <form class="form-horizontal largeur-input" {{{ attributes }}}>

      {{# show_email }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/switch_yn }}
               {{> form/errors }}
            </div>
         </div>
      {{/ show_email }}

      {{# birthdate }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/input }}
               {{> form/errors }}
            </div>
         </div>
      {{/ birthdate }}

      {{# sexe }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/select }}
               {{> form/errors }}
            </div>
         </div>
      {{/ sexe }}

      {{# localisation }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/input }}
               {{> form/errors }}
            </div>
         </div>
      {{/ localisation }}

      {{# minecraft_since }}
         <div class="control-group">
            <div class="control-label compteur">{{> form/label }}</div>
            <div class="controls">
               {{> form/textarea_counter }}
               {{> form/errors }}
            </div>
         </div>
      {{/ minecraft_since }}

      {{# skill }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/input }}
               {{> form/errors }}
            </div>
         </div>
      {{/ skill }}

      {{# desc_rp }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/textarea }}
               {{> form/errors }}
            </div>
         </div>
      {{/ desc_rp }}

      {{# website }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/input }}
               {{> form/errors }}
            </div>
         </div>
      {{/ website }}

      {{# twitter }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/input }}
               {{> form/errors }}
            </div>
         </div>
      {{/ twitter }}

      {{# youtube }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/input }}
               {{> form/errors }}
            </div>
         </div>
      {{/ youtube }}

      {{# steam_id }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/input }}
               {{> form/errors }}
            </div>
         </div>
      {{/ steam_id }}

      {{# description }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> form/textarea }}
               {{> form/errors }}
            </div>
         </div>
      {{/ description }}

      <div class="clearfix"></div>

      <div class="boutons">
         <input class="btn pull-right" type="submit" value="Enregistrer" />
         <a href="../general">
            <input class="btn profil-retour" type="button" value="Retour au profil"/>
         </a>
      </div>
   </form>
   {{/ form }}

</div>
