<a href="../general">← Retour au profil</a>

<div class="tab-content">
   <div id="general" class="tab-pane tab-pane-default">
      {{# tab_general }}
         {{> membre/profil/edit/_general }}
      {{/ tab_general }}
   </div>
   <div id="compte" class="tab-pane">
      {{# tab_account }}
         {{> membre/profil/edit/_account }}
      {{/ tab_account }}
   </div>
</div>
