<div class="tab-content">
   <div id="generale" class="tab-pane tab-pane-default">
      {{# tab_generale }}
         {{> membre/profil/edit/_generale }}
      {{/ tab_generale }}
   </div>
   <div id="compte" class="tab-pane">
      {{# tab_account }}
         {{> membre/profil/edit/_account }}
      {{/ tab_account }}
   </div>
</div>
