{{# form }}
<form {{{ attributes }}}>

   {{# password }}
      {{> form/label  }}
      {{> form/input  }}
      {{> form/errors }}
   {{/ password }}

   {{# password_confirmation }}
      {{> form/label  }}
      {{> form/input  }}
      {{> form/errors }}
   {{/ password_confirmation }}

   <div></div>

   <input type="submit" class="btn" value="Mettre à jour" />

</form>
{{/ form }}
