{{# title }}Nouvelle Discussion{{/ title }}

{{# form }}
<form {{{ attributes }}}>

   {{# name }}
      {{> form/label }}
      {{> form/errors }}
      {{> form/input }}
   {{/ name }}

   {{# messages }}
      {{# values }}
      {{# contents }}
         {{> form/label }}
         {{> form/errors }}
         {{> form/mdeditor }}
      {{/ contents }}
      {{/ values }}
   {{/ messages }}

   <input class="btn" type="submit" value="Enregistrer" />

</form>
{{/ form }}
