{{# title }}Nouvelle Discussion{{/ title }}

<form action="" method="POST">
   <label for="name">Nom</label>
   <input id="name" name="name" type="text" value="{{ name }}" />
   <label for="message">Message</label>
   <textarea id="message" name="message" class="mdeditor">{{ message }}</textarea>
   <input class="btn" type="submit" value="Enregistrer" />
</form>
