{{# title }}Nouvelle Discussion{{/ title }}

{{# form }}
<form {{{ attributes }}}>

   {{# name }}
      {{> form/label }}
      {{> form/errors }}
      <div class="large">
         {{> form/input }}
      </div>
   {{/ name }}

   {{# first_message }}
      {{# contents }}
         {{> form/label }}
         {{> form/errors }}
         {{> membre/message/_message_editor }}
      {{/ contents }}
   {{/ first_message }}

   <input class="btn pull-right" type="submit" value="Enregistrer" />

</form>
{{/ form }}
