{{#title}}Discussion{{/title}}

<div class="titre">{{ name }}</div>
<div class="ligne"></div>
<div class="date">Discussion crée le {{ date }} par {{ author }}</div>

{{# pager }}
{{> membre/discussion/_pager }}
{{/ pager }}

<div class="cleaner"></div>

<div class="messages">
{{# messages }}
   {{> membre/discussion/_message }}
{{/ messages }}
</div>

{{# pager }}
{{> membre/discussion/_pager }}
{{/ pager }}

<div class="button-right">
   <a href="{{ response_link }}">
      <input type="button" value="Répondre" />
   </a>
</div>
