<div class="mdeditor">
   {{> form/mdeditor/controls }}
   {{> form/mdeditor/textarea }}
   <li class="activite annonce">
      <div class="info-annonce">
         Par <a href="">Auteur</a> le JJ/MM/AAAA à hh:mm
      </div>
      {{> form/mdeditor/preview }}
   </li>
</div>
