<div class="navbar navbar-inverse">
   <div class="navbar-inner">
      <div class="container">
         {{# redacteur? }}
            <ul class="nav">
               <li>
                  <a href="/gestion">Gestion</a>
               </li>
               {{# modo? }}
               <li>
                  <a href="/gestion/postulation">Postulations</a>
               </li>
               {{/ modo? }}
               <li>
                  <a href="/gestion/discussion">Discussions</a>
               </li>
               <li>
                  <a href="/gestion/annonce">Annonces</a>
               </li>
               <li class="divider-vertical"></li>
            </ul>
         {{/ redacteur? }}
         <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li>
               <a href="/membre/logout">Déconnexion</a>
            </li>
         </ul>
      </div>
   </div>
</div>
