{{# page_title }}Aide, Activités{{/ page_title }}

<h4>Index des pages d'aide liées aux activités :</h4>

<h5><a href="/aide/de_a_coudre">Dé à coudre</a></h5>
<p>
   Pour connaître le fonctionnement du Dé à coudre, les points à respecter et comment utiliser le plugin.
</p>

<h5><a href="/aide/diamondrush">Diamond Rush</a></h5>
<p>
   Pour savoir ce qu'est le Diamond Rush, comment il fonctionne, prendre connaissance de son règlement ou encore savoir où télécharger le plugin et comment l'utiliser.
</p>
