<p>
    Vous trouverez ici toutes les règles s'appliquant dans le monde Evasion,
    la carte de construction libre du serveur.
</p>

<h3>Règlement commun</h3>
<p>
    Le règlement général d'Ethil Van s'applique sur l'intégralité du serveur
    et donc également sur Evasion. Les points suivants et ceux des règlements
    spécifiques aux régions de la carte de construction libre viennent
    compléter ou remplacer les éléments correspondants des règles de
    construction générales.
</p>
<p>
    Les inventaires sont séparés entre les différentes dimensions et vous
    n'avez normalement aucun moyen de faire passer des objets d'Evasion
    vers la dimension principale. Dans le cas où vous découvririez que le
    contraire est possible, nous vous demandons de ne pas l'exploiter et
    d'en avertir un membre de l'équipe d'administration dans les plus brefs
    délais.
</p>
<p>
    Les monstres sont désactivés sur Evasion, n'essayez donc pas d'en faire
    apparaître de quelque manière que ce soit (œufs par exemple).
</p>
<p>
    Nous n'avons pas désactivé l'apparition des animaux sur Evasion afin que
    vous puissiez en faire apparaître dans vos constructions lorsque c'est
    nécessaire (test d'étables par exemple). Nous vous demandons de ne pas
    utiliser ceci en dehors de ce contexte.
</p>
<p>
    Les orbes d'expériences collectées sur Evasion n'altèreront pas votre
    niveau, vous n'avez donc aucun intérêt à essayer d'en obtenir de
    quelque manière que ce soit (fioles d'expérience par exemple) et nous
    vous demandons de ne pas le faire.
</p>

<h3>Plaine des pensées fugitives</h3>
<p>
    Le règlement de cette région est assez simple puisque vous pouvez y
    construire ce que vous voulez quand vous le voulez, l'essentiel est
    que cela reste temporaire et que le tout soit détruit lorsque vous n'en
    avez plus besoin. Evidemment il faut y éviter les constructions de trop
    grande envergure pour laisser de la place à tout le monde.
</p>

<h3>Sanctuaire des milles et une merveilles</h3>
<p>
    Dans cette région vous ne pourrez construire qu'après avoir fait
    l'acquisition d'un terrain, le prix étant de 4 pièces d'or pour une zone
    de 16 blocs par 16 blocs sur toute la hauteur de la carte (les commerces
    n'étant pas encore en place vous bénéficiez actuellement d'une remise de
    25%). Vous pouvez évidemment en acheter plusieurs à la fois et choisir
    qui peut y construire.
</p>
<p>
    Le choix de l'emplacement est libre, mais il ne devra pas se trouver à
    moins de 50 blocs d'une zone appartenant à un autre membre à moins que
    vous ne vous vous soyez mis d'accord avec celui-ci.
</p>
<p>
   L'achat et la définition de vos parcelles se fait auprès d'un Gardien ou
   d'un Sage.
</p>
