<p>
    La base du règlement du serveur est tout simplement le respect, et une
    bonne partie des règles ci-dessous sont basées sur le respect du serveur
    ainsi que de sa communauté. Le reste est lié au respect du Role-Play
    pour les constructions, l'acquisition de ressources ou autre.
</p>

<h4>Expression et communication</h4>
<p>
    Que ce soit lorsque vous vous adressez aux autres joueurs en jeu ou que
    vous postez un message sur le site, vous devrez soigner votre langage,
    c'est-à-dire soigner votre orthographe et votre grammaire, mettre des
    majuscules en début de phrase et bien entendu éviter le langage SMS. On
    évitera également les grossièretés à tout-va, que ce soit sur le chat,
    le site ou le TeamSpeak.
</p>
<p>
    En suivant le principe du jeu en communauté et des constructions en groupe,
    les critiques constructives et les suggestions sont évidemment bienvenues,
    cependant lorsqu'il s'agit de critiquer le travail déjà accompli par d'autres
    membres du serveur, n'oubliez pas de le faire avec tact et si quelque chose
    ne vous plait pas, proposez d'en parler pour échanger vos idées ou faites
    tout simplement une ou plusieurs suggestions. Les critiques qui n'ont pour
    but que de descendre le travail des autres comme "C'est moche !" n'ont
    aucun intérêt.
</p>

<h4>Constructions et possessions</h4>
<p>
    C'est certainement évident pour tout le monde mais on va quand même en parler,
    il est important de respecter les constructions et les possessions des autres
    membres et bien entendu tout joueur coupable de casse ou de vol sera tout
    simplement banni définitivement et sans préavis.
</p>
<p>
    L'utilisation du feu ou de la lave est évidemment à garder à bonne distance
    des constructions ou des matériaux inflammables. Dans le cas contraire tout
    "accident" sera considéré comme de la casse. Il en est de même pour
    l'utilisation de la TNT.
</p>
<p>
    Concernant les Creepers et les éventuels trous qu'ils laissent derrière eux,
    vous êtes priés de les reboucher convenablement que ce soit à proximité des
    habitations ou en pleine nature (à l'exception des cavernes ou autres
    souterrains bien entendu). Cela inclut également les dégâts qu'ils pourraient
    causer aux arbres ou autres éléments hors-sol (un arbre dont une partie
    des feuillages a été détruite doit être coupé puis replanté).
</p>
<p>
    Des règles de construction seront mises en place pour chacune des villes et
    des emplacements pour les constructions seront délimités dans certaines d'entre
    elles, vous devrez donc respecter ces règles et ces emplacements. S'il n'y a
    pas d'emplacements déterminés évitez juste de construire trop près des autres
    bâtiments, une marge de 5 blocs minimum (hors-tout) entre les deux semble
    raisonnable.
</p>
<p>
    Si dans Minecraft il est souvent nécessaire de chercher de l'inspiration en
    regardant un peu partout, évitez de copier bêtement les constructions des
    autres joueurs ou celles que vous voyez sur internet. Prenez des idées ici
    et là et faites preuve d'un peu d'imagination.
</p>

<h4>Acquisition de ressources</h4>
<p>
    L'acquisition de ressources est essentielle dans Minecraft, tout le monde mine
    ou coupe du bois, un minimum d'organisation est donc nécessaire.
</p>
<p>
    Tout d'abord parlons des minerais. Il y a en général deux solutions possibles,
    soit de l'exploration de cavernes, soit du minage intensif.
</p>
<p>
    Dans le premier cas c'est assez simple, vous pouvez partir chercher vos
    ressources dans toute caverne qui n'a pas déjà été explorée par quelqu'un
    d'autre. Si vous arrivez sur un endroit qui l'a déjà été, faites demi-tour
    pour aller trouver une autre caverne et laissez les ressources qui n'ont
    pas été minées, la personne qui les a laissées là viendra sûrement les
    chercher dans peu de temps.
</p>
<p>
    En ce qui concerne le minage, un certain nombre de mines publiques seront
    mises en place à différents endroits de la carte et nous vous prions de
    bien vouloir les utiliser plutôt que de créer votre propre mine n'importe
    où, dans un soucis d'organisation.
</p>
<p>
    Ensuite, si vous avez besoin de bois, évitez de couper les arbres qui sont
    proches des habitations ou des villes, ils ont peut-être été plantés ici
    en guise de décoration. Et si vous commencez à couper un arbre, terminez
    votre travail en enlevant la totalité du tronc pour éviter d'avoir des
    feuillages volants (attention également aux feuillages d'un arbre ne
    disparaissant pas à cause de la proximité d'un autre). N'oubliez pas
    non plus de replanter afin de garder un paysage vert et d'éviter la
    déforestation.
</p>
<p>
    Pour le reste, il vous suffit de prendre à l'écart des constructions et
    d'essayer de garder un aspect naturel. N'allez, par exemple, pas faire un
    trou immense sur une plage pour collecter du sable. Si vous avez besoin
    d'eau prenez-en dans des sources infinies (cube d'eau adjacent à deux
    autres sources avec une profondeur de 1) pour éviter de créer des courants
    dans les bassins, lacs ou autre.
</p>

<h4>Projets et constructions d'envergure</h4>
<p>
    Si vous pouvez construire votre maison dans chacune des villes sans
    faire de demandes à partir du moment où vous respectez les règles de
    construction et les éventuels emplacements ou achats de terrain, il
    n'en est pas de même pour les constructions de grande taille, la création
    de nouvelles villes ou autres projets d'envergure. La création de ces projets
    sera gérée sur le site en faisant une demande auprès des personnes
    responsables de la zone concernée par le projet.
</p>
<p>
    En ce qui concerne les constructions en dehors des villes, vous pouvez
    construire librement si vous respectez les règles de construction des
    "Terres sauvages" ou pouvez faire une demande sur le site auprès de
    l'équipe d'administration pour commencer un projet. Les demandes devront
    être suffisamment développées pour être étudiées et un ou plusieurs
    emplacements possibles devront être proposés.
</p>

<h4>Culture, élevage et abattage des animaux</h4>
<p>
    Toujours en suivant le principe de respect des autres membres, vous
    devrez respectez leurs plantations et leurs élevages et donc ne pas vous
    servir dans leurs cultures et ne pas tuer leurs animaux. Dans le cas de
    cultures ou d'élevages publics (c'est la plupart du temps le cas), vous
    devrez replanter après avoir récolté et donner à manger aux animaux avant
    d'en abattre quelques-uns, tout en laissant au moins la moitié des bêtes
    en vie pour faciliter la reproduction et pour éviter de frustrer ceux qui
    se sont acharnés à les faire s'accoupler.
</p>
<p>
    Les animaux étant désormais limités en nombre et ne réapparaissant pas
    sans s'être reproduit, il faudra veiller à toujours en laisser une quantité
    raisonnable dans les terres sauvages et privilégier l'abattage de ceux qui
    sont en élevage.
</p>

<h4>Personnages non-joueurs</h4>
<p>
    Sur Ethil Van, vous aurez l'occasion de croiser deux types de personnages
    non-joueurs, ceux ajoutés à Minecraft depuis la version 1.9 et ceux ajoutés
    par l'équipe d'administration dans les magasins ou autre (prochainement).
    Dans un cas comme dans l'autre, ces PNJ ont un rôle ou en auront bientôt un,
    il vous est donc demandé de ne pas les attaquer et de signaler leur mort
    ou disparition à l'équipe d'administration le cas échéant.
</p>

<h4>PvP et mort des autres joueurs</h4>
<p>
    Si sur Ethil Van le PvP est globalement actif, à l'exception de quelques
    zones, ce n'est pas pour vous permettre de tuer les autres joueurs à tout
    moment, mais pour vos donner la possibilité de vous battre d'un commun
    accord ou pour donner un peu plus d'intérêt et de challenge à vos
    expéditions en vous obligeant à faire attention de ne pas blesser vos
    coéquipiers.
</p>
<p>
    Vous ne devrez donc pas attaquer les autres joueurs sans raison. Il en est
    de même pour les différentes actions pouvant causer leur mort.
</p>
<p>
    Lorsqu'un joueur meurt et que son équipement tombe à terre plusieurs
    options s'offrent à vous. Vous pouvez tout simplement le laisser là pour
    que son propriétaire vienne le chercher, vous pouvez le ramasser pour le
    mettre dans un coffre provisoire à l'emplacement du décès ou encore le
    ramasser pour le ramener à son propriétaire après vous être mis d'accord
    avec lui.
</p>

<h4>Triche et exploitation de bugs</h4>
<p>
    Un des plus importants principes d'Ethil Van est que l'intégralité des
    constructions et des projets est réalisée avec des ressources collectées
    par les joueurs de manière traditionnelle. Il n'y aura donc aucun give
    que ce soit pour les membres, les modérateurs ou même les administrateurs.
    Et c'est en suivant ce principe qu'il est attendu de vous que vous
    n'utilisiez aucun moyen pour tricher ou vous faciliter le travail et
    que vous n'exploitiez aucun bug de quelque manière que ce soit.
</p>

<h4>Sanctions</h4>
<p>
    Ce règlement n'a pas été mis en place pour limiter vos possibilités sur
    le serveur mais pour y trouver un jeu en communauté équitable et agréable
    pour tous. Tout manquement à ce règlement entrainera donc une sanction qui
    peut aller d'une simple amende à un bannissement définitif en fonction de
    la faute commise. Merci de votre compréhension.
</p>
