<h3> Terres sauvages :</h3>
<p>
   Le terme "Terres sauvages" désigne l'ensemble des zones de la carte principale
   se trouvant à au moins 200 blocs d'une ville, d'un projet d'envergure ou d'un
   emplacement réservé à l'un d'eux. Les règles ci-dessous ne s'appliquent donc qu'à
   elles et tout projet se situant à plus faible distance des habitations ou d'une
   future construction devra faire l'objet d'une demande auprès du ou des responsables
   de ces zones ou être en accord avec les règles de construction correspondantes.
</p>

<h4> Nouvelle ville ou nouveau projet d'envergure :</h4>
<p>
   Les règles ci-dessous ne prennent pas en compte la construction de nouveaux lieux
   d'habitation, de monuments ou de structures de grande taille, il faudra donc faire
   une demande au préalable sur le site auprès de l'équipe d'administration pour
   pouvoir commencer ces projets.
</p>

<p>Les demandes devront comporter les éléments suivants avant d'être étudiées par l'équipe d'administration :
   <ul>
      <li> Une description détaillée du projet avec sa taille approximative, son contexte RP
         et éventuellement un ou plusieurs schémas explicatifs pour illustrer.
      <li> Une proposition d'un ou de plusieurs emplacements possibles avec coordonnées,
         screenshots du lieu et de la DynMap, et explications concernant le choix de
         l'emplacement.
      <li> La liste des personnes à l'origine du projet, du ou des responsables et de ceux
         qui sont déjà volontaires pour y participer (le cas échéant).
      <li> Les règles de construction envisagées dans le cas d'une ville. Elles peuvent être
         données de manière approximatives mais il faut que l'on puisse facilement se faire
         une idée du type de constructions prévues.
   </ul>
</p>

<h4> Abris et habitations :</h4>
<p>
   Ethil Van est un serveur multi-joueurs pour une bonne raison, nous privilégions les
   projets et les constructions communes aux réalisations individuelles. Il va donc à
   l'encontre de l'esprit du serveur de créer des habitations durables ou définitives
   en dehors des villes existantes. Cependant il peut être pratique ou utile de créer
   temporairement un abri ou une habitation, notamment lors d'explorations lointaines
   ou au commencement d'un nouveau projet qui n'est pas à proximité des autres lieux
   d'habitations. Bien entendu cela doit rester provisoire et dans des proportions
   raisonnables.
</p>

<p>
   Un emplacement de 10x10 devrait amplement suffire, constitué au maximum d'un
   rez-de-chaussée, d'un niveau de sous-sol et éventuellement d'un étage sous le
   toit dans le cas d'un toit incliné. Un aménagement extérieur est envisageable
   pour quelques plantations mais encore une fois cela doit rester dans des
   proportions raisonnables.
</p>

<p>
   Les différents villages de PNJ isolés peuvent également offrir un abri temporaire,
   n'hésitez donc pas à vous y installer en récupérant et en aménageant une des
   maisons existantes. Gardez cependant en tête que ces villages pourront être détruits
   lors de la création d'un projet d'envergure à proximité.
</p>

<h4> Cavernes et souterrains :</h4>
<p>
   Les cavernes et autres souterrains ne sont pas sujets à des règles de construction
   particulières, il n'y est donc pas nécessaire de reboucher les trous de Creepers
   et vos abris temporaires n'ont pas besoin d'être détruits une fois que vous avez
   fini de les utiliser (il y a peu de chances que quelqu'un vienne explorer une
   caverne qui l'a déjà été).
</p>

<h4> Routes et chemins :</h4>
<p>
   La création de routes ou de chemins sur le serveur ne requièrent pas de demandes
   sur le site mais elle doit respecter certains critères.
</p>

<p>
   Tout d'abord les routes doivent respecter un certain pattern, qui doit rester le
   même tout au long de la route ou changer selon l'environnement environnant pour
   s'y accorder (désert, forêt, etc.) mais ne doit pas changer constamment ou sans
   bonne raison. Ce pattern doit être défini en accord avec les responsables des
   projets se trouvant à chacun des bouts de la route.
</p>

<p>
   Ensuite, les routes doivent suivre un trajet cohérent et naturel. Elles suivront
   donc certainement les vallées et contourneront les collines à moins que l'une des
   destinations ne soit en haut. De même, afin d'avoir un tout rationnel et agréable
   à l'œil le trajet ne sera pas complètement droit ou composé uniquement de segments
   de droite à 90 ou 45 degrés mais aussi de courbes et de développantes de cercles.
</p>

<p>
   Leur largeur peut varier d'une route à l'autre mais sera généralement comprise
   entre trois blocs (chemins et routes menant à de petits villages) et neufs blocs
   (grande routes à double sens sur de courtes distance et reliant deux destinations
   importantes).
</p>
