<div class="tab-content">
  <div id="general" class="tab-pane tab-pane-default">
    {{> public/reglement/_general}}
  </div>
  <div id="terres_sauvages" class="tab-pane">
    {{> public/reglement/_terres_sauvages}}
  </div>
  <div id="trefonds" class="tab-pane">
    {{> public/reglement/_trefonds}}
  </div>
  <div id="evasion" class="tab-pane">
    {{> public/reglement/_evasion}}
  </div>
</div>
