 #login {

   #login_name,
   #login_password,
   .connexion,
   .remember {
      display: block;
      margin: 10px auto;
      text-align: center;
   }

   .remember {

      input, label {
         line-height: 14px;
         font-size: 14px;
         vertical-align: bottom;
      }

      label {
         display: inline;
         margin-left: 8px;
      }
   }

   .connexion {
      margin-top: 25px;
   }
}
