{{# page_title }}Dons,Remerciements{{/ page_title }}

<p>
    Comme précisé sur la page précédente, ce don ne vous apportera
    aucun avantage sur le serveur, ni aucun traitement de faveur en
    cas de problèmes, cependant, l'équipe d'Ethil Van apprécie
    grandement votre geste et vous remercie pour votre participation.
    Nous espérons que le serveur continuera à être à la hauteur de
    vos espérances et ferons notre possible pour que cela reste le cas.
</p>
