{{> activity/date }}
{{> activity/avatar }}
{{^ actor_is_viewer? }}
   {{> activity/actor }} a supprimé la discussion {{> activity/subject }}
{{/ actor_is_viewer? }}
{{# actor_is_viewer? }}
   Vous avez supprimé la discussion {{> activity/subject }}
{{/ actor_is_viewer? }}
