<p>
    Vous trouverez ici toutes les règles concernant spécifiquement
    les Tréfonds (le Nether dans la version anglophone du jeu).
</p>

<h3>Récolte de ressources</h3>

<p>
    Les Tréfonds sont principalement utilisés pour récolter des matériaux
    qui ne sont pas présents ailleurs, vous êtes donc libres d'y récolter
    les ressources de votre choix mais vous devrez respecter quelques points :
</p>

<h5>Pierre des Tréfonds, sable des âmes et graviers</h5>
<p>
    Vous pouvez en récolter librement et dans n'importe quelle quantité
    tant que vous respectez ces conditions :
</p>
<ul>
    <li>Vous le faites à bonne distance des lieux d'habitation/construction
        (au moins 100 blocs).
    </li>
    <li>Vous laissez derrière vous un paysage à l'aspect naturel. Pas de
        grande salle carrée creusée dans une paroi, etc.
    </li>
</ul>

<h5>Luminite</h5>
<p>
    La Luminite est une ressource disponible en quantité limitée par rapport
    aux autres matériaux présents dans les grandes cavernes des Tréfonds et
    les grappes qui y pendent des plafonds font partie du style et de la
    personnalité de ces lieux, vous devrez donc éviter de la récolter en
    intégralité.
</p>
<ul>
    <li>Vous n'en récolterez pas à proximité des lieux d'habitation/construction
        (100 blocs minimum).
    </li>
    <li>Vous ne toucherez pas aux grappes de moins de 15 blocs.
    <li>Vous laisserez au moins une douzaine de blocs sur les grappes sur
        lesquelles vous en avez récolté.
    </lii>
</ul>

<h5>Briques, escaliers et barrières des Tréfonds</h5>
<p>
    Ces blocs ne se trouvant que dans les forteresses des Tréfonds, vous
    devrez faire attention à plusieurs choses lorsque vous en récoltez.
</p>
<ul>
    <li>Vous ne le faites pas en plein milieu d'une forteresse, ni à un
        endroit visible depuis l'extérieur ou de l'intérieur lorsqu'on
        la visite. Vous pouvez donc, par exemple, récolter ces ressources
        dans un couloir qui ne mène nulle-part (les forteresses n'en
        manquent pas), en commençant de préférence par le bout.
    </li>
    <li>Une fois que vous avez fini votre récolte, faites en sorte que
        cela ne se remarque pas, en rebouchant par exemple l'entrée du
        couloir qui ne menait nulle-part dans l'exemple précédent.
    </li>
</ul>

<h5>Lave</h5>
<p>
    La seule condition concernant la lave est d'éviter de créer des courants
    lorsque vous en récoltez (vous pouvez en prendre en profondeur, reboucher
    là où vous en avez pris, etc.). Si vous respectez cela et la
    traditionnelle règle de proximité des habitations/constructions (100
    blocs), vous pouvez en prendre en grande quantité.
</p>

<h3>Exploration</h3>
<p>
    Tout comme dans le monde principal, vous pouvez ici aussi explorer
    librement la carte, lorsque vous aurez atteint la bordure de ce monde,
    vous en serez informés et vous serez téléportés quelques blocs en
    arrière. N'essayez tout simplement pas de franchir à nouveau cette limite.
</p>
<p>
    Lors de vos expéditions, vous aurez certainement besoin de faire quelques
    repères pour vous y retrouver plus facilement. Afin que tout le monde
    puisse les utiliser, il est nécessaire de respecter toujours la même méthode.
    Le plus simple est peut-être de faire un petit pilier sur lequel on place
    une torche. Cette torche devra être située du côté opposé à la direction de
    laquelle vous venez, ou plus particulièrement de l'endroit où se trouve le
    lieu d'habitation d'où vous venez. Si l'emplacement en question est plus à
    45° que dans la direction d'un des quatre points cardinaux, il vous suffit
    de placer deux torches (par exemple au nord et à l'est du pilier pour indiquer
    la direction sud-ouest). Cela permet de facilement repérer la bonne direction,
    lorsque vous voyez la torche c'est que vous êtes sur le bon chemin pour
    rentrer. Ce pilier devra être dans un matériau non destructible par les tirs
    de Ghast, les pavés semblent tout désignés puisqu'ils sont très simples à
    acquérir, ne se trouvent pas naturellement dans les Tréfonds et résistent
    aux boules de feu, mais d'autres matériaux peuvent également être utilisés.
    Le pilier ne devra pas excéder 4 ou 5 blocs de hauteur, 3 devrait d'ailleurs
    être suffisant dans la plupart des cas.
</p>

<h3>Constructions</h3>
<p>
    Les règles de construction des Tréfonds sont les mêmes que celles des Terres
    Sauvages concernant les abris et habitations, ainsi que pour les routes.
</p>
<p>
    De même, les projets et constructions d'envergure nécessiteront une demande
    au préalable sur le site avec les renseignements demandés seront les mêmes
    que ceux des projets du monde principal.
</p>

<h3>Monstres</h3>
<p>
    Vous pouvez chasser les monstres des Tréfonds librement, que ce soit pour
    le plaisir ou pour récolter leurs ressources, mais vous devrez respecter
    quelques points.
</p>
<ul>
    <li>Vous n'attaquerez pas de cochons zombies à proximité des routes ou des
        habitations/constructions pour éviter que les voyageurs qui passeraient
        après vous ne se fassent assaillir si vous n'avez pas réussi à tous
        les vaincre.
    </li>
    <li>Vous ne détruirez pas les générateurs de monstres faisant apparaître
        les Incendiaires dans les forteresses.
    </li>
    <li>Vous ne laisserez derrière vous aucun aménagement visant à faciliter
        la chasse des incendiaires, et les couloirs de forteresse accueillant
        les générateurs devront être laissés tels quels. Un aménagement
        provisoire le temps de les affronter est cependant permis, mais il
        devra être détruit à votre départ.
    </li>
    <li>Vous reboucherez les trous dus aux boules de feu tirées par les Ghasts
        si ceux-ci se trouvent à moins de 20 blocs des constructions/habitations
        (ces zones seront en général protégées, cette règle s'appliquera donc
        que si ce n'est pas encore le cas).
    </li>
</ul>
