<div class="btn-group switch" data-formidable="switch" data-formidable-target="#{{ field_id }}">
   {{# among }}
   <button type="button" class="btn{{ switch_class }}" data-formidable-item="{{ name }}">{{ value }}</button>
   {{/ among }}
</div>
