{{# cadre }}
<a href="{{ author_profil }}">
   <div class="profil-cadre mini">
      <div class="jauge" style="top: {{ gauge_top }}px; height: {{ gauge_height }}px;"> </div>
      <div class="avatar" style="background-image: url('{{ author_avatar }}')"> </div>
      <div class="pseudo"> - {{ author_name }} - </div>
      <div class="online-status {{ online }}"> </div>
   </div>
</a>
{{/ cadre }}
