<div id="{{ anchor }}" class="message message-odd-even">

   {{> message/cadre }}

   <div class="message-contenu">
      <div class="texte">{{{ contents }}}</div>
      <div class="bloc-signature">
         {{# dates? }}
            <div class="dates creation">Posté le {{ created }}</div>
            <div class="dates edition">Dernière édition le {{ updated }}</div>
         {{/ dates? }}
         <div class="cleaner-side"></div>
         <div class="ligne-signature"></div>
         <div class="signature-membre">
            <div class="boutons">
               <a href="{{ view_url }}">
                  <div class="lien"></div>
               </a>
               {{# can_edit? }}
               <a class="edit" href="{{ edit_url }}" data-inline-target="#{{ anchor }}">
                  <div class="edit"></div>
               </a>
               {{^ first? }}
               <a class="suppr" data-remove-target="#{{ anchor }}" data-remove-method="hide" href="{{ delete_url }}">
                  <div class="suppr"></div>
               </a>
               {{/ first? }}
               {{/ can_edit? }}
            </div>
            <div class="signature"> {{{ author_signature }}} </div>
            <div class="cleaner"></div>
         </div>
      </div>
   </div>

</div>
