{{# new_messages }}
   {{> message/display }}
{{/ new_messages }}

<div class="message-form message-odd-even">

   {{# form }}
      <form class="messages" {{{ attributes }}}>

         {{# contents }}
            {{> message/contents_editor }}
         {{/ contents }}

         <input class="btn pull-right valider" {{# inline? }}data-inline-target=".message-form"{{/ inline? }}
               type="submit" value="Poster" />

         <div class="cleaner"></div>

      </form>
   {{/ form }}
</div>
