<div class="accordion" id="roles">
   {{# roles }}
   {{# members? }}
   <h4>{{ role_name }}</h4>
   <p>{{ description }}</p>
   {{# members }}
      <div class="accordion-group">
         <div class="membre accordion-heading">
            <a class="name accordion-toggle collapsed" data-toggle="collapse"
                  data-parent="#roles" href="#membre-{{ name }}">
               <div class="icon"></div>
               {{ name }}
            </a>
         </div>
         <div id="membre-{{ name }}" class="accordion-body collapse">
            <div class="accordion-inner description">
               <img class="avatar" src="{{{ avatar }}}"/>
               <p>{{ description }}</p>
            </div>
         </div>
      </div>
   {{/ members }}
   {{/ members? }}
   {{/ roles }}
</div>
