{{#title}}Discussions{{/title}}

<a href="/membre/discussion/!toutes_lues">
   Marquer toutes les discussions comme lues
</a>

{{# modo? }}
<a href="/membre/discussion/!creer_espace">
   Créer un espace de discussion
</a>
{{/ modo? }}

{{# groups }}
   <div class="discussion-group">
      <a href="{{ url }}" title="{{ description }}">
         <div class="titre-espace">{{ name }}</div>
      </a>
      {{# modo? }}
         <a href="{{ edit_url }}">Editer</a>
         <a class="need-confirmation" href="{{ delete_url }}">Supprimer</a>
      {{/ modo? }}
      {{> membre/discussion_group/_discussion_previews }}
      {{# remaining? }}
      <a href="{{ url }}" title="{{ description }}">
         <div class="restantes">
            Nombre de discussions restantes : {{ remaining }}
         </div>
      </a>
      {{/ remaining? }}
      <a href="{{ url }}/creer">
         <div class="nouvelle">+ Nouvelle discussion</div>
      </a>
      <div class="cleaner"></div>
   </div>
{{/ groups }}
