{{#title}}Discussions{{/title}}

<div class="discussion-group">
   <a href="/membre/discussion">
      ← Retour à la liste des espaces de discussion
   </a>
   <div class="ligne"></div>
   <div class="entete-espace">
      <div class="titre-espace">{{ name }}</div>
      {{# modo? }}
         <a href="{{ edit_url }}">Editer</a>
         <a class="need-confirmation" href="{{ delete_url }}">Supprimer</a>
      {{/ modo? }}
      <p>{{ description }}</p>
   </div>
   {{> membre/discussion_group/_discussion_previews }}
</div>
<a href="{{ url }}/creer">
   <input class='btn button-right' type="button" value="Nouvelle discussion"/>
</a>
