{{# cadre }}
<a href="{{ profil_url }}">
   <div class="profil-cadre mini">
      <div class="jauge" style="top: {{ gauge_top }}px; height: {{ gauge_height }}px;"> </div>
      <div class="avatar" style="background-image: url('{{ avatar }}')"> </div>
      <div class="pseudo"> - {{ name }} - </div>
      <div class="online-status {{ online_class }}"> </div>
   </div>
</a>
{{/ cadre }}
