#subcontents {

   .nav-postulation-form {
      margin-bottom: 30px;
   }

   #postulation-form {
      h3 {
         margin-top: 0px;
      }

      .control-label {
         width: 210px;
      }

      .controls {
         margin-left: 230px;
      }

      .field-postulation_sexe {

         .btn.dropdown-toggle {
            width: 188px;
         }

         .dropdown-menu {
            width: 215px;
         }

      }

   }

}
