@import 'var.less';

#subcontents {

   .nav-postulation-form {
      margin-bottom: 30px;
   }

   #postulation-form {

      h3 {
         margin-top: 0px;
      }

      .control-group {

         .controls {

            input {
               float: left;
            }

         }

      }

      .parsley-error-list {
         color: @erreur;

         li {
            list-style-type: none;
         }
      }

      .hint {
         color: @gris-police;
      }

   }

}
