<h3>Vanna, le village arboricole</h3>
<p>
    Vanna est un petit village constitué de plusieurs arbres-maisons rassemblés autour de Van, l'arbre millénaire.
</p>

<div id="Carousel-Vanna" class="carousel slide">
   <div class="carousel-inner">
      <div class="active item">
         <img src="http://medias.ethilvan.fr/projets/Vanna-1.png" alt="Vanna"></img>
         <div class="carousel-caption">
            <p>
               On a ici un aperçu du village. Au centre Van avec le bassin du dé
               à coudre à ses pieds, à droite l'auberge de Vanna, et on peut
               distinguer à gauche les feuillages de quelques arbres maisons.
            </p>
         </div>
      </div>
      <div class="item">
         <img src="http://medias.ethilvan.fr/projets/Vanna-2.png" alt="Vanna-2"></img>
         <div class="carousel-caption">
            <p>
               Ici un autre abre maison, un conifère cette fois-ci et à droite une source
               et un petit bassin qui se déverse dans la rivière de Vanna.
            </p>
         </div>
      </div>
      <div class="item">
         <img src="http://medias.ethilvan.fr/projets/Vanna-Van-1.png" alt="Vanna-Van-1"></img>
         <div class="carousel-caption">
            <p>
               L'intérieur de Van avec les échelles et plates-formes qui permettent
               d'atteindre les branches et feuillages où se trouve le plongeoir du dé à coudre.
            </p>
         </div>
      </div>
      <div class="item">
         <img src="http://medias.ethilvan.fr/projets/Vanna-Van-2.png" alt="Vanna-Van-2"></img>
         <div class="carousel-caption">
            <p>Un comptoir au sous-sol de Van</p>
         </div>
      </div>
   </div>
   <a class="carousel-control left" href="#Carousel-Vanna" data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#Carousel-Vanna" data-slide="next">&rsaquo;</a>
</div>

<br></br>

<h3>Dagnal, la cité souterraine</h3>
<p>
    Dagnal est une ville souterraine dont les différents éléments sont répartis dans plusieurs cavernes. Les habitations et
    autres bâtiments seront creusées dans les parois de celles-ci, ainsi que dans des stalactites et stalagmites.
</p>

<div id="Carousel-Dagnal" class="carousel slide">
   <div class="carousel-inner">
      <div class="active item">
         <img src="http://medias.ethilvan.fr/projets/Dagnal-1.png" alt="Dagnal"></img>
         <div class="carousel-caption">
            <p>
               L'entrée de la ville, située sous une arche de pierre naturelle
               surplombant un lac.
            </p>
         </div>
      </div>
      <div class="item">
         <img src="http://medias.ethilvan.fr/projets/Dagnal-2.png" alt="Dagnal-2"></img>
         <div class="carousel-caption">
            <p>
               La caverne principale de Dagnal qui accueillera les habitations et la
               plupart des bâtiments publiques.
            </p>
         </div>
      </div>
      <div class="item">
         <img src="http://medias.ethilvan.fr/projets/Dagnal-3.png" alt="Dagnal-3"></img>
         <div class="carousel-caption">
            <p>
               La première arène de Spleef de la ville, on peut s'y affronter jusqu'à 8
               joueurs.
            </p>
         </div>
      </div>
      <div class="item">
         <img src="http://medias.ethilvan.fr/projets/Dagnal-4.png" alt="Salle des Tréfonds"></img>
         <div class="carousel-caption">
            <p>
               C'est à Dagnal que se situe le seul portail d'accès aux Tréfonds actuellement
               connu sur Ethil Van. On peut remarquer que la salle qui l'accueille a été
               victime de la corruption de ce monde infernal.
            </p>
         </div>
      </div>
      <div class="item">
         <img src="http://medias.ethilvan.fr/projets/Dagnal-5.png" alt="Mine publique"></img>
         <div class="carousel-caption">
            <p>
               Dagnal est une ville minière et l'on peut donc y trouver une mine publique,
               on peut venir y récolter de la pierre ou espérer y trouver des minerais précieux.
            </p>
         </div>
      </div>
   </div>
   <a class="carousel-control left" href="#Carousel-Dagnal" data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#Carousel-Dagnal" data-slide="next">&rsaquo;</a>
</div>


<h3>Embruns, la ville portuaire</h3>
<p>
    Embruns est une ville portuaire marchande et militaire basée sur l'époque de la révolution industrielle,
    on y trouvera donc de vieux bateaux à voiles tout comme les premiers bateaux à vapeur.
</p>

<div id="Carousel-Embruns" class="carousel slide">
   <div class="carousel-inner">
      <div class="active item">
         <img src="http://medias.ethilvan.fr/projets/Embruns-1.png" alt="Aperçu de la ville"></img>
         <div class="carousel-caption">
            <p>
               On a ici un petit aperçu de la ville actuellement en construction, avec la mairie
               surplombant les habitations et autres bâtiments répartis dans différents quartiers.
            </p>
         </div>
      </div>
      <div class="item">
         <img src="http://medias.ethilvan.fr/projets/Embruns-2.png" alt="Bateaux"></img>
         <div class="carousel-caption">
            <p>Le port avec un navire marchand à quai, et un trois mats sortant de la baie.</p>
         </div>
      </div>
      <div class="item">
         <img src="http://medias.ethilvan.fr/projets/Embruns-3.png" alt="Forteresse"></img>
         <div class="carousel-caption">
            <p>
               La citadelle (encore en construction) qui accueillera le personnel militaire
               d'Embruns et qui veille sur le port avec ses cinq bastions équipés de canons
               pouvant faire feu dans toutes les directions.
            </p>
         </div>
      </div>
   </div>
   <a class="carousel-control left" href="#Carousel-Embruns" data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#Carousel-Embruns" data-slide="next">&rsaquo;</a>
</div>

<br></br>

<h3>Luxuria, la ville Oasis</h3>
<p>
    Luxuria est une petite ville aménagée autour d'une oasis en plein milieu du désert. Elle est composée
    de différents quartiers allant d'une zone réservée aux nomades composée principalement de tentes à
    un quartier aisé accueillant villas et fontaines.
</p>

<div id="Carousel-Luxuria" class="carousel slide">
   <div class="carousel-inner">
      <div class="active item">
         <img src="http://medias.ethilvan.fr/projets/Luxuria-1.png" alt="Oasis"></img>
         <div class="carousel-caption">
            <p>L'oasis avec ses cascades et ses palmiers.</p>
         </div>
      </div>
      <div class="item">
         <img src="http://medias.ethilvan.fr/projets/Luxuria-2.png" alt="Le quartier aisé"></img>
         <div class="carousel-caption">
            <p>Les premières maisons assez esapcées et spacieuses du quartier aisé</p>
         </div>
      </div>
      <div class="item">
         <img src="http://medias.ethilvan.fr/projets/Luxuria-3.png" alt="La bibliothèque"></img>
         <div class="carousel-caption">
            <p>L'intérieur de la grande bibliothèque de Luxuria.</p>
         </div>
      </div>
      <div class="item">
         <img src="http://medias.ethilvan.fr/projets/Luxuria-4.png" alt="Le quartier pauvre"></img>
         <div class="carousel-caption">
            <p>
               Le quartier pauvre avec ses maisons construites les unes sur les autres et ses
               rues étroites.
            </p>
         </div>
      </div>
   </div>
   <a class="carousel-control left" href="#Carousel-Luxuria" data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#Carousel-Luxuria" data-slide="next">&rsaquo;</a>
</div>

<br></br>

<h3>Le conseil d'Ethil Van</h3>
<p>
    Le conseil d'Ethil Van est une grande salle où peuvent se réunir les représentants de toutes
    les villes, ainsi que tout ceux qui souhaitent participer aux débats.
<p>

<div id="Carousel-Conseil" class="carousel slide">
   <div class="carousel-inner">
      <div class="active item">
         <img src="http://medias.ethilvan.fr/projets/Conseil-1.png" alt="Le conseil"></img>
      </div>
      <div class="item">
         <img src="http://medias.ethilvan.fr/projets/Conseil-2.png" alt="L'intérieur du conseil"></img>
      </div>
      <div class="item">
         <img src="http://medias.ethilvan.fr/projets/Conseil-3.png" alt="La salle des débats"></img>
      </div>
   </div>
   <a class="carousel-control left" href="#Carousel-Conseil" data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#Carousel-Conseil" data-slide="next">&rsaquo;</a>
</div>
