{{# page_title }}Aperçu{{/ page_title }}

<div class="tab-content">
   {{# tab_presentation }}
      {{# tab_title }}Présentation{{/ tab_title }}
      <div id="{{ tab_name }}" class="tab-pane">
         {{> public/apercu/_presentation }}
      </div>
   {{/ tab_presentation }}
   {{# tab_images }}
      <div id="{{ tab_name }}" class="tab-pane">
         {{> public/apercu/_images }}
      </div>
   {{/ tab_images }}
   {{# tab_videos }}
      {{# tab_title }}Vidéos{{/ tab_title }}
      <div id="{{ tab_name }}" class="tab-pane">
         {{> public/apercu/_videos }}
      </div>
   {{/ tab_videos }}
   {{# tab_cartes }}
      <div id="{{ tab_name }}" class="tab-pane">
         {{> public/apercu/_cartes }}
      </div>
   {{/ tab_cartes }}
</div>
