{{# page_title }}Définition du nouveau mot de passe{{/ page_title }}

{{# form }}
<form class="form-horizontal formulaire" {{{ attributes }}}>

   {{# password }}
      <div class="control-group">
         <div class="control-label">{{> form/label }}</div>
         <div class="controls">
            {{> form/input  }}
            {{> form/errors }}
         </div>
      </div>
   {{/ password }}

   {{# password_confirmation }}
      <div class="control-group">
         <div class="control-label">{{> form/label }}</div>
         <div class="controls">
            {{> form/input  }}
            {{> form/errors }}
         </div>
      </div>
   {{/ password_confirmation }}

   <div></div>

   <input type="submit" class="btn pull-right" value="Mettre à jour" />

</form>
{{/ form }}
