<h4>Aventuriers</h4>

<ul class="membres">
   {{# members }}
   <li>
      <a href="/membre/@{{ name }}">
         <div class="membre">
            <img src="{{ head }}" />
            <div class="pseudo" >{{ name }}</div>
         </div>
      </a>
   </li>
   {{/ members }}
</ul>
<div class="cleaner"></div>

<h4>Pèlerins</h4>
<ul class="anciens">
   {{# old_members }}
   <li>
      <a href="/membre/@{{ name }}">
         <div class="ancien membre" >{{ name }}</a>
      </a>
   </li>
   {{/ old_members }}
</ul>
<div class="cleaner"></div>
