<div class="profil-cadre full" style="background-image: url('{{ cadre_url }}');">
   <div class="jauge" style="top: {{ gauge_top }}px; height: {{ gauge_height }}px;"> </div>
   <div class="avatar" style="background-image: url('{{ avatar }}');"> </div>
   <div class="pseudo"> - {{ account_name }} - </div>
   <div class="online-status {{ online_class }}"> </div>
   <img class="skin" src="{{ skin_url }}"> </img>
   <div class="stat deaths">
      <img src="{{ static }}images/profil/deaths.png" title="Nombre de morts"> </img>
      {{ deaths }}
   </div>
   <div class="stat max-level">
      <img src="{{ static }}images/profil/max-level.png" title="Niveau max"> </img>
      {{ max_level }}
   </div>
</div>
