<div class="messages" data-autofill data-autofill-param="msgpage">
{{# messages }}
<div id="{{ anchor }}" class="message">
   <div class="message-discussion">
      <a href="{{ view_url }}">{{ discussion_name }}</a>
       le {{ created }}
   </div>
   <div class="message-contents">
      {{{ contents }}}
   </div>
</div>
{{/ messages }}
</div>
