<div class="messages profil" data-autofill data-autofill-param="msgpage">
{{# messages }}
<div id="{{ anchor }}" class="message">
   <div class="message-discussion">
      <div class="pull-right"> le {{ created }}</div>
      <a href="{{ view_url }}">{{ discussion_name }}</a>
   </div>
   <div class="message-contenu">
      {{{ contents }}}
   </div>
</div>
{{/ messages }}
</div>
