<h5> A déjà joué en multi à Minecraft : </h5>
<p>{{ multi_minecraft }}</p>

{{# multi_minecraft? }}
   <h5> Ancien serveur : </h5>
   <p> {{ old_server }} </p>

   <h5> Raison du départ : </h5>
   <p> {{ old_server_reason }} </p>
{{/ multi_minecraft? }}

<h5> Découverte d'Ethil Van : </h5>
<p>{{ ethilvan_discovered }}</p>

<h5> Raison d'avoir choisi Ethil Van : </h5>
<p> {{ ethilvan_reason }} </p>

<h5> Screenshots : </h5>
<div id="Carousel-Postu" class="carousel slide">
   <div class="carousel-inner">
      {{# screens }}
         <div class="item">
            <a href="{{ url }}" target="_blank">
               <img src="{{ url }}">
            </a>
            <div class="carousel-caption">
               <p> {{ description }} </p>
            </div>
         </div>
      {{/ screens }}
   </div>
   <a class="carousel-control left" href="#Carousel-Postu" data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#Carousel-Postu" data-slide="next">&rsaquo;</a>
</div>

<h5> Disponibilités: </h5>
<p> {{ availability }} </p>

{{# microphone? }}
   <h5> Régularité sur TeamSpeak : </h5>
   <p> {{ mumble }} </p>
{{/ microphone? }}

<h5> Champ Libre : </h5>
<p> {{ free_text }} </p>
