{{# form }}
<form class="form-tag" {{{ attributes }}}>

   {{# tagger }}{{> form/errors }}{{/ tagger }}

   <div>
   {{# contents }}
      {{> form/errors }}
      {{> form/textarea_counter }}
   {{/ contents }}
   </div>

   <input class="btn pull-right" type="submit" value="Poster" />
   <div class="cleaner"></div>
</form>
{{/ form }}

{{# tags? }}
   {{# tags }}
      <div class="tag">
         <div class="tagger">
            <a href="{{ tagger_url }}">
               <img class="avatar" src="{{ tagger_avatar }}">
            </a>
            <span class="infos">{{ tagger }} le {{ date }}</span>
         </div>
         <blockquote>
            <p>{{ contents }}</p>
         </blockquote>
      </div>
   {{/ tags }}
{{/ tags? }}
