{{# form }}
<form {{{ attributes }}}>

   {{# tagger }}{{> form/errors }}{{/ tagger }}

   <div>
   {{# contents }}
      {{> form/errors }}
      {{> form/textarea_counter }}
   {{/ contents }}
   </div>

   <input class="btn" type="submit" value="Poster" />
</form>
{{/ form }}

{{# tags? }}
   {{# tags }}
      <div class="tag">
         <p>Par {{ tagger }} :</p>
         <p>{{ contents }}</p>
         <p>Le {{ date }}</p>
      </div>
   {{/ tags }}
{{/ tags? }}
