<div class="tab-content">
   {{# tab_general }}
      {{# tab_title }}Général{{/ tab_title }}
      <div id="{{ tab_name }}" class="tab-pane{{ tab_status }}">
         {{> membre/profil/_general }}
      </div>
   {{/ tab_general }}
   {{# tab_postulation }}
      <div id="{{ tab_name }}" class="tab-pane{{ tab_status }}">
         {{> membre/profil/_postulation }}
      </div>
   {{/ tab_postulation }}
   {{# tab_tags }}
      <div id="{{ tab_name }}" class="tab-pane{{ tab_status }}"
            data-autofill="tags" data-autofill-param="tagspage">
         {{> membre/profil/_tags }}
      </div>
   {{/ tab_tags }}
   {{# tab_messages }}
      <div id="{{ tab_name }}" class="tab-pane{{ tab_status }}"
            data-autofill="messages" data-autofill-param="msgpage">
         {{> membre/profil/_messages }}
      </div>
   {{/ tab_messages }}
</div>
