<div class="profil-edit">

   {{# ok? }}
   <div class="flash success">
      Modifications enregistrées
   </div>
   {{/ ok? }}

   {{# form }}
   <form class="form-horizontal" {{{ attributes }}}>

      {{# avatar }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls large">
               {{> form/input }}
               {{> form/errors }}
               {{> form/hint }}
            </div>
         </div>
      {{/ avatar }}

      {{# cadre_url }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls large">
               {{> form/input }}
               {{> form/errors }}
               {{> form/hint }}
            </div>
         </div>
      {{/ cadre_url }}

      {{# signature }}
         <div class="control-group">
            <div class="control-label">{{> form/label }}</div>
            <div class="controls">
               {{> membre/profil/edit/_signature_editor }}
               {{> form/errors }}
            </div>
         </div>
      {{/ signature }}

      <div class="clearfix"></div>

      <div class="boutons">
         <input class="btn pull-right" type="submit" value="Enregistrer" />
         <a href="../general">
            <input class="btn profil-retour" type="button" value="Retour au profil"/>
         </a>
      </div>
   </form>
   {{/ form }}

</div>
