<div class="mdeditor">

   {{> form/mdeditor/controls }}
   {{> form/mdeditor/textarea }}

   <div class="cleaner"></div>

   <div class="message">
      <div class="message-contenu">
         <div class="bloc-signature">
            <div class="dates creation">Posté le JJ/MM/AAAA à hh:mm</div>
            <div class="dates edition">Dernière édition le JJ/MM/AAAA à hh:mm</div>
            <div class="cleaner"></div>
            <div class="ligne-signature"></div>
            <div class="signature-membre">
               <div class="signature"> {{> form/mdeditor/preview }} </div>
            </div>
         </div>
      </div>
   </div>
</div>
