{{# page_title }}Téléchargements{{/ page_title }}

<div class="tab-content">
   {{# tab_launcher }}
      <div id="{{ tab_name }}" class="tab-pane">
         {{> public/aide/telechargements/_launcher }}
      </div>
   {{/ tab_launcher }}
   {{# tab_texturepack }}
      {{# tab_title }}Pack de textures{{/ tab_title }}
      <div id="{{ tab_name }}" class="tab-pane">
         {{> public/aide/telechargements/_texturepack }}
      </div>
   {{/ tab_texturepack }}
</div>
