{{# page_title }}Espace gestion{{/ page_title }}

{{> gestion/navbar }}

<br>

<p>Cet espace est réservé aux membres du staff et regroupe quelques infos et liens qui peuvent leur être utiles.</p>

<br>

{{# modo? }}

<h4>Postulations</h4>

   <h5>- Vote nécessaire aux postulations</h5>

   <p>Vous avez la possibilité de choisir si votre vote est nécessaire à la validation d'une postulation, le bouton correspondant se trouve sous l'onglet <b>Compte</b> de l'édition de votre profil.</p>

   <p>Pour qu'une postulation soit validée, il faut que tous les votes nécessaires aient été faits et qu'ils soient positifs. Un membre du staff ayant un vote non nécessaire peut quand même valider une postulation afin de donner son avis sur celle-ci, mais elle pourra être acceptée avant son vote si tous ceux qui sont nécessaires ont été faits.</p>

   <p>N'importe quel membre du staff peut refuser une postulation, que son vote soit nécessaire ou non.</p>

   <p>Ceci est très utile si vous êtes absent ou dans l'impossibilité de vous connecter au site pendant un moment. Cela vous permet aussi tout simplement de choisir de participer ou non à l'acceptation de nouveaux Ethil-Vanniens.</p>

   <h5>- Screenshots</h5>

   <p>Si une postulation vous paraît acceptable mais que les screenshots ne s'affichent pas, c'est certainement dû à une erreur dans les url fournies par le postulant. Dans ce cas vous pouvez cliquer à l'emplacement de l'image pour être redirigé vers la page contenant l'image. Vous pouvez également demander à un membre ayant accès à la base de données (aumgn, Loup ou Travis) de modifier les url pour que les screens s'affichent correctement.</p>
{{/ modo? }}

<br>

<h4>Annonces</h4>

<p>Les annonces vous permettent d'informer les Ethil-Vanniens via le flux d'activité de la page d'accueil lorsque vous avez besoin de leur faire part d'informations qui ne justifient pas la création d'une news.</p>
