Informations de connexion :
  Adresse du serveur Minecraft : play.ethilvan.fr
  Carte dynamique: map.ethilvan.fr
  Adresse du TeamSpeak : ts.ethilvan.fr
  Mot de passe du TeamSpeak : minecraft
  Pseudo utilisé sur le TeamSpeak : de préférence celui utilisé sur le site, merci
