{{# mail_subject }}Sujet !{{/ mail_subject }}
Un autre membre de l'équipe d'administration vient de répondre favorablement à votre candidature.
{{ remaining_agreement }} autre(s) doi(ven)t encore la valider pour que vous puissiez être officillement accepté(e) sur Ethil Van.

{{> mails/postulation/_reponse}}

{{> mails/postulation/_infos}}
