Un autre membre de l'équipe d'administration vient de répondre favorablement à votre candidature.
{{ Nb d'approbations manquantes }} autre(s) doi(ven)t encore la valider pour que vous puissiez être officillement accepté(e) sur Ethil Van.

{{> mails/_reponse}}

{{> mails/_infos}}
