{{# mail_subject }}[Postulation] Approbation{{/ mail_subject }}
Un autre membre de l'équipe d'administration vient de répondre favorablement à votre candidature. Mais son vote ne fait pas partie des votes nécessaires à la validation de votre postulation. {{ remaining_agreement }} doi(ven)t toujours la valider pour que vous puissiez être officillement accepté(e) sur Ethil Van.

{{> mails/postulation/_reponse }}

{{> mails/postulation/_infos }}

