{{# mail_subject }}Sujet !{{/ mail_subject }}
Un membre de l'équipe d'administration a répondu favorablement à votre candidature. Vous pouvez désormais vous connecter au serveur en tant que visiteur et commencer à explorer tranquillement. Vous ne pouvez pas contruire pour l'instant, ni être attaqué par les monstres ou les joueurs. Vous pouvez en profiter pour visiter un peu et pour commencer à faire connaissance avec les autres joueurs connectés sur le serveur Minecraft ou sur le TeamSpeak.

{{ remaining_agreement }} membre(s) de l'équipe doi(ven)t encore valider votre postulation pour que celle-ci soit acceptée et pour que deveniez officiellement Ethil-Vannien. Vous serez alors automatiquement ajouté au groupe des aventuriers, vous permettant de profiter pleinement des possibilités du serveur et d'accéder à la partie membre du site.
Dans le cas d'une réponse négative d'un des autres membres de l'équipe, votre candidature sera refusée. Cette décision est sans appel.

{{> mails/postulation/_reponse}}

{{> mails/postulation/_infos}}
