{{# mail_subject }}[Postulation] Refus{{/ mail_subject }}
L'équipe d'administration d'Ethil Van a le regret de vous annoncer que votre candidature a été refusée. Nous vous souhaitons une bonne continuation, en espérant que vous trouverez un serveur qui vous convient.

{{> mails/postulation/_reponse }}
