Félicitations, l'intégralité de l'équipe d'administration a répondu favorablement à votre candidature. Vous appartenez maintenant au groupe des Aventuriers sur Ethil Van, cela vous permet de construire, d'attaquer les monstres et les joueurs, mais aussi d'en être la cible. Vous avez également accès à la partie membre du site, utilisez le pseudo et le mot de passe que vous avez rentrés dans le formulaire de postulation pour vous y connecter.

Nous vous souhaitons donc la bienvenue sur Ethil Van, en espérant que vous vous y plairez parmi nous et que le serveur sera à la hauteur de vos attentes.

{{> mails/_reponse}}

{{> mails/_infos}}
